.news-title, .news-title>a{
    color: #f15a24;
    margin-bottom: 5px;
}

.news-time{
    color: #888;
    margin-bottom: 5px;
    font-style: italic;
}

.news-image, .content, .read-more{
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}

.read-more{
    text-align: right;
    width: 100%;
}

.news-item .content{
    max-height: 160px;
    overflow: hidden;

}

.content > p{
    margin-bottom: 0;
}

.news-image{
    border: 3px solid #ccc;
    background-repeat:no-repeat; 
    min-height:170px; 
    min-width:300px; 
    background-size:cover;
    background-position: 0 0;
    margin-right:10px;
}

.news-item{
    margin-bottom:30px;
}

.go-back-news, .go-back-news:hover, .go-back-news:focus {
    color: #f15a24;  
    text-decoration: underline;
}

.news-image-large{
    border: 3px solid #ccc;  
}

.news-image-large > img{
    height: auto;
    width:100%;
}

.news-content{
    position: relative;
}
