html,
body {
  height: 100%;
}
.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}
.wrap > .container {
  padding: 70px 15px 20px;
}
.footer {
  height: 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
.not-set {
  color: #c55;
  font-style: italic;
}
/* add sorting icons to gridview sort links */
a.asc:after,
a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px;
}
a.asc:after {
  content: /*"\e113"*/ "\e151";
}
a.desc:after {
  content: /*"\e114"*/ "\e152";
}
.sort-numerical a.asc:after {
  content: "\e153";
}
.sort-numerical a.desc:after {
  content: "\e154";
}
.sort-ordinal a.asc:after {
  content: "\e155";
}
.sort-ordinal a.desc:after {
  content: "\e156";
}
.grid-view th {
  white-space: nowrap;
}
.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}
.error-summary ul {
  list-style: none;
  padding-left: 0;
  color: #a94442;
}
.sidebar-nav li a {
  color: #fff;
  font-weight: bolder;
}
.action-column-header {
  width: 150px !important;
}
.action-column-content {
  text-align: center;
}
.panel-heading h1 {
  margin-top: 0;
}
.panel-heading .btn {
  margin: 3px;
}
.panel-body.search .form-group {
  margin-bottom: 0;
}
.not-important-hidden {
  display: none;
}
.form-control {
  border-radius: 0px;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-top-15 {
  margin-top: 15px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-top-25 {
  margin-top: 25px;
}
.margin-top-30 {
  margin-top: 30px;
}
#agent-options {
  padding-top: 28px;
}
.search-buttons {
  margin-bottom: 10px;
}
.navbar-header .navbar-brand {
  height: auto;
}
.shop-create,
.map-container {
  min-height: 100%;
  height: 100%;
}
#map-canvas {
  height: 73vh;
  margin: 20px 0;
}
.grid-view {
  overflow-x: auto;
}
.header-buttons.right {
  text-align: right;
}
.header-buttons.right .btn {
  float: none;
}
.left-aligned {
  left: 0%;
}
.btn-go-to-live-site {
  background-color: #F20C8B;
  color: white;
}
.bootstrap-tagsinput {
  width: 100%;
}
.bootstrap-tagsinput .label {
  font-size: 100%;
  font-weight: normal;
}
td a {
  color: #428bca;
  text-decoration: none;
}
#creditform-type label {
  margin-right: 10px;
}
.no-resize {
  resize: none;
}
.full-width {
  width: 100%;
}
.navbar-static-top {
  z-index: 1000;
}
div.required label:after {
  content: " *";
  color: red;
}
.glyphicon.white {
  color: white;
}
/*# sourceMappingURL=site.css.map */
#map {
  min-height: 500px;
  border: 1px solid #c1c1c1;
  width: 100%;
}
ul.export-menu-list {
  display: inline-block;
  margin-left: 0;
  padding-left: 5px;
}
.multi-select-btn-cont {
  width: 100%;
}
.multi-select-btn-cont button {
  text-align: left;
}
div.required label.checkbox:after {
  content: "";
}
ul.js-city-list a {
  text-decoration: underline;
}
.multiselect-container.dropdown-menu > .active > a,
.multiselect-container.dropdown-menu > .active > a:hover,
.multiselect-container.dropdown-menu > .active > a:focus {
  color: white;
  background-color: #2f516d;
}
.multiselect-container.dropdown-menu > li > a:hover,
.multiselect-container.dropdown-menu > li > a:focus {
  color: white;
  background-color: #2f516d;
}
.multiselect-container.dropdown-menu > li > a:hover > label,
.multiselect-container.dropdown-menu > li > a:focus > label {
  color: white;
  /*background-color: #2f516d;*/

}
.multiselect-container.dropdown-menu > .active > a label,
.multiselect-container.dropdown-menu > .active > a:hover label,
.multiselect-container.dropdown-menu > .active > a:focus label {
  color: white;
}
.multiselect {
  overflow-x: hidden;
}
.multiselect-container > li > a > label > input[type="checkbox"] {
  position: relative;
  margin-right: 0;
}
.flex-row {
  display: flex;
  flex-wrap: wrap;
}
.flex-row .flex-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media (max-width: 420px) {
  .flex-row .flex-left {
    justify-content: center;
  }
}
.flex-row .flex-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (max-width: 420px) {
  .flex-row .flex-right {
    justify-content: center;
  }
}
.drive-view .waypoint-view .flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.drive-view .waypoint-view .waypoint-card {
  padding: 5px 20px;
  border: 2px solid #ddd;
  width: 10em;
  margin-top: 12px;
  margin-right: 10px;
  text-align: center;
  background-color: #fff;
}
.drive-view .waypoint-view .waypoint-card.origin {
  border-right-width: 1px;
}
.drive-view .waypoint-view .waypoint-card.stop {
  border-right-width: 1px;
  border-left-width: 1px;
}
.drive-view .waypoint-view .waypoint-card.destination {
  border-left-width: 1px;
}
.drive-view .waypoint-view .waypoint-card.origin,
.drive-view .waypoint-view .waypoint-card.stop,
.drive-view .waypoint-view .waypoint-card.destination {
  position: relative;
}
.drive-view .waypoint-view .waypoint-card.origin:after,
.drive-view .waypoint-view .waypoint-card.origin:before,
.drive-view .waypoint-view .waypoint-card.stop:after,
.drive-view .waypoint-view .waypoint-card.stop:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.drive-view .waypoint-view .waypoint-card.origin:after,
.drive-view .waypoint-view .waypoint-card.stop:after {
  border-color: rgba(0, 0, 0, 0);
  border-left-color: #fff;
  border-width: 10px;
  margin-top: -10px;
}
.drive-view .waypoint-view .waypoint-card.origin:before,
.drive-view .waypoint-view .waypoint-card.stop:before {
  border-color: rgba(238, 238, 238, 0);
  border-left-color: #ddd;
  border-width: 11px;
  margin-top: -11px;
}
@media (max-width: 420px) {
  .x_title h2 {
    width: auto;
  }
}
.review-item {
  border: 1px solid #dfdfdf;
  /*margin-right: 20px;*/

  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.profile-image-cont {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid #dfdfdf;
}
.profile-image-cont .profile-img {
  margin: 0 auto;
}
