.blog-single-item {
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: 1px solid #cccccc;
}
.blog-single-item:nth-child(1) {
  border-top: 1px solid #cccccc;
}
.blog-single-item .short-content {
  text-align: justify;
}
.blog-view .short-content,
.blog-view .content {
  text-align: justify;
}
