.kv-editable-link {
  padding: 6px 12px;
}
.btn-standard,
.btn-standard:focus,
.btn-standard:hover,
.btn-green,
.btn-green:focus,
.btn-green:hover {
  background: #0caa9d;
  color: white;
  outline: none;
  outline-color: transparent;
  border: 1px solid #0caa9d;
}
.btn-standard:hover,
.btn-standard:focus:hover,
.btn-standard:hover:hover,
.btn-green:hover,
.btn-green:focus:hover,
.btn-green:hover:hover,
.btn-standard:focus,
.btn-standard:focus:focus,
.btn-standard:hover:focus,
.btn-green:focus,
.btn-green:focus:focus,
.btn-green:hover:focus {
  color: #fff;
}
.btn-red {
  background: #db2c27;
  color: white;
  outline: none;
  outline-color: transparent;
  border: 1px solid #db2c27;
}
.btn-red:hover,
.btn-red:focus {
  color: #fff;
}
.btn {
  border-radius: 0;
}
.btn.full-width {
  width: 100%;
}
.btn-large-padding {
  padding: 15px;
}
