.steps-form {
  display: table;
  width: 100%;
  position: relative;
}
.steps-form .steps-row {
  display: table-row;
}
.steps-form .steps-row:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #ccc;
}
.steps-form .steps-row .steps-step {
  display: table-cell;
  text-align: center;
  position: relative;
}
.steps-form .steps-row .steps-step p {
  margin-top: 0.5rem;
}
.steps-form .steps-row .steps-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}
.steps-form .steps-row .steps-step .btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  margin-top: 0;
}
.steps-form .steps-row .steps-step .btn-circle.active {
  background-color: #0caa9d;
  color: white;
  border-color: #adadad;
}
.payment-method-cont label {
  font-size: 25px;
}
.items table {
  border: 1px solid #717171;
  min-width: 100%;
  width: 100%;
}
.items table thead tr {
  font-weight: bold;
}
.items table td {
  padding: 5px;
  border: 1px solid #717171;
}
