.datepicker table tr td.active:active:hover,
.datepicker table tr td.active.highlighted:active:hover,
.datepicker table tr td.active.active:hover,
.datepicker table tr td.active.highlighted.active:hover,
.datepicker table tr td.active:active:focus,
.datepicker table tr td.active.highlighted:active:focus,
.datepicker table tr td.active.active:focus,
.datepicker table tr td.active.highlighted.active:focus,
.datepicker table tr td.active:active.focus,
.datepicker table tr td.active.highlighted:active.focus,
.datepicker table tr td.active.active.focus,
.datepicker table tr td.active.highlighted.active.focus {
  background: #0caa9d;
  border-color: #0caa9d;
}
.datepicker table tr td.active:active,
.datepicker table tr td.active.highlighted:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active.highlighted.active {
  background: #0caa9d;
  border-color: #0caa9d;
}
.datepicker table tr td.old,
.datepicker table tr td.old:hover,
.datepicker table tr td.new,
.datepicker table tr td.new:hover {
  color: #333;
}
.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
  color: #ddd;
}
.input-group-addon.kv-date-calendar {
  border-radius: 0;
  background: #0caa9d;
}
.input-group-addon.kv-date-calendar > .glyphicon {
  color: #fff;
}
