.hostess-filter .select2-container--krajee .select2-selection--single .select2-selection__arrow {
  border-left: none;
}
.hostess-filter .select2-container--krajee .select2-selection--single .select2-selection__arrow b {
  border-color: none;
}
.hostess-filter .select2-container.select2-container--krajee.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: none;
}
.hostess-filter .multi-cont {
  width: 100%;
}
.hostess-filter .multi-cont button {
  width: 100% !important;
  text-align: left;
}
.hostess-filter .multi-cont button .caret {
  position: absolute;
  top: 15px;
  right: 25px;
}
.hostess-filter .toggle-search-btn {
  cursor: pointer;
}
.hostess-filter .input-group-addon {
  border-radius: 0;
}
.hostess-filter .multiselect-container {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}
.hostess-filter .dropdown-menu > li > a {
  padding: 3px 25px;
}
.hostess-filter .has-success .cbx-active,
.hostess-filter .has-success .cbx-active:hover,
.hostess-filter .has-success .cbx-active:focus,
.hostess-filter .has-error .cbx-active,
.hostess-filter .has-error .cbx-active:hover,
.hostess-filter .has-error .cbx-active:focus {
  box-shadow: none;
}
.hostess-filter .cbx {
  border-radius: 0;
  width: 16px;
  height: 16px;
}
.hostess-filter .cbx:hover,
.hostess-filter .cbx:focus {
  box-shadow: none;
  border-color: #0caa9d;
}
.hostess-filter label + .cbx-container,
.hostess-filter .cbx-container + label,
.hostess-filter .cbx-container + .cbx-container {
  margin-left: 5px;
  vertical-align: middle;
  line-height: 16px;
  margin-bottom: 0;
}
.hostess-filter .advanced-search {
  padding-top: 20px;
  padding-bottom: 20px;
  border: 2px solid #0caa9d;
  border-top: 0;
  -webkit-box-shadow: 0 5px 10px #0003;
  box-shadow: 0 5px 10px #0003;
  /*display: none;*/

}
.hostess-filter .bg-green {
  background: #0caa9d;
  color: #fff;
  line-height: 30px;
}
.hostess-filter .advanced-search-label {
  padding-top: 7px;
  padding-bottom: 7px;
}
.hostess-filter .field-advanced-search-sort {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
}
.event-item:nth-child(odd) .border-right {
  border-right: 1px solid #cccccc;
}
.event-item:nth-child(even) .border-right {
  border-right: none;
}
.event-item .event-item-content {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 20px;
}
.event-item .event-item-content .title {
  font-weight: 600;
  font-size: 16px;
}
.event-item .event-item-content .event-sign-up-dropdown {
  background-color: #0caa9d;
  color: #fff;
  border: 1px solid #0caa9d;
  border-radius: 0;
  padding: 6px 30px;
  text-align: center;
  max-width: 100%;
}
.event-item .event-item-content .event-sign-up-dropdown option {
  background-color: #fff;
  color: #717171;
}
.event-item .event-item-content .event-sign-up-dropdown:hover {
  color: #717171;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.event-item .event-item-content .event-sign-up-dropdown:hover option {
  background-color: #fff;
}
.event-item .event-item-content .select2-container--krajee .select2-selection--single {
  border-radius: 0 !important;
  background-color: #0caa9d !important;
  color: white !important;
}
.event-item .event-item-content .select2-container--krajee .select2-selection--single .select2-selection__placeholder {
  color: white !important;
}
.event-item .event-item-content .select2-container--krajee .select2-selection--single .select2-selection__arrow {
  border-left: 1px solid #fff !important;
}
.event-item .event-item-content .select2-container--krajee .select2-selection--single .select2-selection__arrow b {
  border-color: #fff transparent transparent transparent !important;
}
.event-item .event-item-content .select2-container.select2-container--krajee.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #ffffff rgba(0, 0, 0, 0) !important;
}
.event-view .spacer {
  border-bottom: 2px solid #0caa9d;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}
.event-view .title {
  font-weight: bold;
  font-size: 24px;
}
.event-view .bottom-buttons {
  margin-bottom: 160px;
}
.event-view .bottom-buttons a {
  margin-bottom: 15px;
}
.select2-container--krajee .select2-selection--single {
  border-radius: 0 !important;
}
.select2-container .select2-selection--single .select2-selection__clear {
  position: absolute !important;
  top: 0  !important;
  margin-right: 25px  !important;
  font-size: 25px;
}
