.hint-block {
  margin-top: 10px;
}
.padding-bordered-cont {
  padding: 20px;
  border: 1px solid #908f94;
}
.request-alert {
  text-align: center;
  background-image: url("../images/eclipse.png");
  background-repeat: no-repeat;
  color: white;
  font-size: 22px;
  font-weight: 900;
  height: 38px;
  width: 38px;
  line-height: 38px;
  position: absolute;
  right: 0;
  top: -15px;
  z-index: 999;
}
.nav-pills li {
  margin-left: 0;
  padding: 0;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.nav-pills li:list-child {
  border-right: none;
}
.nav-pills li a {
  border-radius: 0;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  background-color: #909195;
}
.nav-pills li a:hover,
.nav-pills li a:focus {
  background-color: #0caa9d;
}
.nav-pills li.active {
  background-color: #0caa9d;
}
.nav-pills li.active a {
  background-color: #0caa9d;
}
.nav-pills li.active a:hover,
.nav-pills li.active a:focus {
  background-color: #0caa9d;
}
.nav-pills.profile-main-menu li a {
  font-size: 17px;
  padding: 20px 0;
}
.nav-pills > li + li {
  margin-left: 0;
}
.exhibitor-tab-content {
  margin-top: 40px;
  /*font-size : 17px;*/

}
.exhibitor-tab-content .table thead tr th {
  color: #fff;
  text-align: center;
  background-color: #909195;
  border-bottom: none;
  font-weight: normal;
  border-right: 1px solid #fff;
}
.exhibitor-tab-content .table thead tr th a,
.exhibitor-tab-content .table thead tr th a:focus,
.exhibitor-tab-content .table thead tr th a:hover {
  color: #fff;
  text-decoration: none;
}
.exhibitor-tab-content .table thead tr th.text-left {
  text-align: left;
}
.exhibitor-tab-content .table tr td {
  border-top: none;
  text-align: center;
}
.exhibitor-tab-content .table tr td a.green-link {
  color: #0caa9d;
  text-decoration: none;
}
.exhibitor-tab-content .table tr td a.green-link:focus,
.exhibitor-tab-content .table tr td a.green-link:hover {
  color: #0caa9d;
  text-decoration: none;
}
.exhibitor-tab-content .table tr td.text-left {
  text-align: left;
}
.exhibitor-tab-content .table .request-status {
  width: 100%;
  display: block;
  padding: 6px 12px;
  border-radius: 0;
  font-size: inherit;
  font-weight: normal;
}
.exhibitor-tab-content .table .request-status.danger {
  background-color: #d9534f;
}
.exhibitor-tab-content .table .request-status.warning {
  background-color: #f0ad4e;
}
.exhibitor-content {
  padding: 30px 0 0 00px;
}
.exhibitor-content .attr-label {
  color: #0caa9d;
  line-height: 30px;
}
.exhibitor-content .kv-editable-link {
  color: #0caa9d;
  border-bottom: none;
}
.exhibitor-content .kv-editable-link:focus,
.exhibitor-content .kv-editable-link:hover {
  color: #054b45;
  text-decoration: underline;
}
.exhibitor-content .attr-value {
  line-height: 30px;
}
.exhibitor-content .green-form-title {
  color: #0caa9d;
  line-height: 30px;
  font-size: 17px;
}
.exhibitor-content .panel {
  border: none;
  box-shadow: none;
}
.exhibitor-content .panel .panel-heading {
  padding: 0px;
  border: none;
}
.exhibitor-content .panel .panel-footer {
  background-color: white;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top: none;
  padding: 0px;
}
.exhibitor-content .panel .table-responsive {
  border-top: none;
}
.exhibitor-content .panel .table-responsive .table thead tr th,
.exhibitor-content .panel .table-responsive .table tbody tr th {
  color: #0caa9d;
  font-weight: normal;
  border-top: none;
  text-align: left;
}
.exhibitor-content .panel .table-responsive .table thead tr td,
.exhibitor-content .panel .table-responsive .table tbody tr td {
  border-top: none;
  text-align: left;
}
.exhibitor-content .select2-selection.select2-selection--multiple {
  border-radius: 0;
}
.exhibitor-content .select2-container--krajee.select2-container--open .select2-selection,
.exhibitor-content .select2-container--krajee .select2-selection:focus {
  box-shadow: none;
  border-color: #0caa9d;
}
@media (max-width: 360px) {
  .exhibitor-content {
    padding-left: 0;
  }
}
@media (max-width: 360px) {
  .exhibitor-tab-content {
    font-size: 1em;
  }
}
.hostess-item .relative {
  position: relative;
}
.hostess-item .img-hostess .profile-image {
  width: 220px;
  height: 170px;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  max-width: 100%;
}
.hostess-item .img-hostess .img-options {
  opacity: 0;
  transition: visibility 0s linear 0.2s, opacity 0.2s linear 0s;
  visibility: hidden;
}
.hostess-item .img-hostess .img-options .zoom-in {
  position: absolute;
  top: 0;
  right: 37px;
  width: 38px;
  height: 38px;
}
.hostess-item .img-hostess .img-options .zoom-in a {
  width: 38px;
  height: 38px;
  display: block;
  padding: 10px 12px;
  background: #0caa9d;
}
.hostess-item .img-hostess .img-options .zoom-in a i {
  color: white;
}
.hostess-item .img-hostess:hover .img-options {
  cursor: pointer;
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
.hostess-item .username a {
  font-weight: bold;
  color: #0caa9d;
}
.hostess-item .username a:hover,
.hostess-item .username a:focus {
  color: #0caa9d;
  text-decoration: underline;
}
.select2-container--krajee .select2-selection.select2-selection--single {
  border-radius: 0;
}
.review-item .comment-section {
  min-height: 130px;
}
.review-item:nth-child(odd) .border-right {
  border-right: 1px solid #cccccc;
}
.review-item:nth-child(even) .border-right {
  border-right: none;
}
.review-item .review-item-content {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 20px;
}
@media (max-width: 768px) {
  .review-item:nth-child(odd) .border-right,
  .review-item:nth-child(even) .border-right {
    border-right: none;
  }
}
@media (min-width: 769px) and (max-width: 991px) {
  .review-item .comment-section {
    min-height: 220px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .review-item .comment-section {
    min-height: 200px;
  }
}
.btn-checkout {
  min-width: 265px;
  padding: 10px 20px;
}
.btn-checkout.dissabled {
  opacity: 0.6;
  max-width: 265px;
}
