.footer {
  min-height: 60px;
  background-color: #0caa9d;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer h3 {
  margin-bottom: 20px;
}
.footer p {
  max-width: 100%;
  /*word-break : break-all;*/

}
.footer a {
  color: #fff;
  text-decoration: none;
  max-width: 100%;
  word-break: break-word;
}
.footer a:hover {
  text-decoration: none;
  color: #fff;
}
.footer .links {
  text-align: center;
}
.footer .links .menu-item {
  margin-right: 20px;
  margin-bottom: 20px;
}
.footer .social-links a {
  font-size: 35px;
}
.footer .news p a,
.footer .news p span {
  display: block;
}
.footer .member-of a {
  display: block;
}
.footer .member-of a img {
  margin: 0 auto;
  /*height: 100px;*/

  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
