fieldset {
  border: none;
  padding: 7px 0;
}
.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}
.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}
.form-control {
  border-radius: 0;
}
.form-control.small {
  width: 80%;
}
.form-control:focus {
  border-color: #0caa9d;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(241, 90, 36, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(241, 90, 36, 0.6);
}
.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label {
  color: #0caa9d;
}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
  /*color : #fff;*/

}
.has-success .cbx-active,
.has-success .cbx-active:hover,
.has-success .cbx-active:focus,
.has-error .cbx-active,
.has-error .cbx-active:hover,
.has-error .cbx-active:focus {
  box-shadow: none;
}
.cbx {
  border-radius: 0;
}
.cbx:hover,
.cbx:focus {
  box-shadow: none;
  border-color: #0caa9d;
}
label + .cbx-container,
.cbx-container + label,
.cbx-container + .cbx-container {
  margin-left: 15px;
}
