#gallery .container-fluid,
#gallery .col-sm-3 {
  /*overflow: hidden;*/

  padding: 0;
}
#gallery .folio-item {
  /*display: inline-block;*/

  position: relative;
  max-height: 300px;
  overflow: hidden;
  margin: 1px 1px 0 0 ;
}
#gallery .overlay {
  background-color: #000;
  color: #fff;
  left: 0;
  right: 0;
  bottom: -100%;
  height: 0;
  position: absolute;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#gallery .overlay .overlay-content {
  display: table;
  height: 100%;
  width: 100%;
}
#gallery .overlay .overlay-text {
  display: table-cell;
  vertical-align: middle;
}
#gallery .overlay .folio-info {
  opacity: 0;
  margin-bottom: 75px;
  margin-top: -75px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
#gallery .overlay .folio-info h3 {
  margin-top: 0;
  color: #fff;
}
#gallery .folio-overview a {
  font-size: 18px;
  color: #333;
  height: 50px;
  width: 50px;
  line-height: 50px;
  border-radius: 50%;
  background-color: #fff;
  display: inline-block;
  margin-top: 20px;
  margin-right: 5px;
}
#gallery .folio-overview a:hover {
  color: #fff;
  background-color: #0caa9d;
}
#gallery .folio-overview .folio-expand {
  margin-top: -500px;
  margin-left: -500px;
}
#gallery .folio-image,
#gallery .folio-overview .folio-expand {
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
#gallery .folio-item:hover .folio-image {
  /*        -webkit-transform: scale(1.5) rotate(-15deg);
        transform: scale(1.5) rotate(-15deg);*/

}
#gallery .folio-image img {
  width: 100%;
}
#gallery .folio-item:hover .overlay {
  opacity: 0.5;
  bottom: 0;
  height: 100%;
}
#gallery .folio-item:hover .folio-overview .folio-expand {
  margin-top: 0;
  margin-left: 0;
}
#gallery .folio-item:hover .overlay .folio-info {
  opacity: 1;
  margin-bottom: 0;
  margin-top: 0;
}
