.cookie-text {
  font-size: 12px;
}
.header-top-cookie {
  background-color: #333;
  font-size: 12px;
  color: #fff;
  z-index: 9999;
  padding-top: 5px;
  padding-bottom: 5px;
  display: none;
}
.header-top-cookie a {
  color: white;
  text-decoration: underline;
}
.header-top-cookie a:active,
.header-top-cookie a:focus,
.header-top-cookie a:visited {
  color: white;
  text-decoration: underline;
}
.header-top {
  background-color: #0caa9d;
  font-size: 12px;
  color: #fff;
  z-index: 5000;
  padding-top: 5px;
  padding-bottom: 5px;
}
.header-top .title {
  padding: 0;
}
.header-top .sign-in {
  text-align: right;
}
.header-top .sign-in a {
  color: #fff;
  text-decoration: none;
}
.header-top .sign-in a:focus,
.header-top .sign-in a:hover {
  color: #fff;
  text-decoration: none;
}
.header-container .select2-container.select2-container--krajee .select2-selection--single {
  padding-bottom: 0;
  padding-top: 0;
  box-shadow: none;
  border: none;
  outline: none;
  background-color: #0caa9d;
  color: #fff;
  height: auto;
}
.header-container .select2-container.select2-container--krajee .select2-selection--single .select2-selection__rendered {
  color: #fff;
  font-size: 12px;
}
.header-container .select2-container.select2-container--krajee .select2-selection--single .select2-selection__arrow {
  border-left: none !important;
  color: #fff;
  height: 20px;
  top: 0;
  right: 0;
}
.header-container .select2-container.select2-container--krajee .select2-selection--single .select2-selection__arrow b {
  border-color: #ffffff rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}
.header-container .select2-container.select2-container--krajee .select2-selection {
  box-shadow: none;
  border: none;
}
.header-container .select2-container.select2-container--krajee .select2-selection:focus {
  box-shadow: none;
  border: none;
}
.header-container .select2-container.select2-container--krajee.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #ffffff rgba(0, 0, 0, 0);
}
.navbar {
  background-color: #fff;
  border: 0;
  margin-bottom: 0;
  padding-bottom: 12px;
  padding-top: 12px;
  border-bottom: 2px solid #cccccc;
}
.navbar .navbar-header {
  /*margin-top: 20px;*/

  width: 22%;
  padding-left: 15px;
  /*margin-bottom: 10px;*/

}
.navbar .navbar-header .navbar-logo {
  background-repeat: no-repeat;
  background-position: center left;
  background-size: contain;
  height: 75px;
  width: 100%;
}
.navbar .navbar-menu {
  padding-top: 35px;
  text-align: right;
  width: 80%;
}
.navbar .navbar-menu .menu-item {
  display: inline-block;
  margin-left: 30px;
  color: #908f94;
  font-size: 18px;
}
.navbar .navbar-menu .menu-item.active,
.navbar .navbar-menu .menu-item:hover {
  color: #0caa9d;
  text-decoration: none;
}
.navbar .navbar-menu .menu-item.hostess-menu-item {
  padding: 6px 12px;
  color: #fff;
  background: #0caa9d;
}
.navbar .navbar-toggle,
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #fff;
  border: none;
}
@media (max-width: 1200px) {
  .navbar .navbar-menu {
    padding-top: 30px;
  }
}
@media (max-width: 1000px) {
  .navbar .navbar-menu {
    padding-top: 30px;
  }
  .navbar .navbar-menu .menu-item {
    font-size: 14px;
    margin-left: 20px;
  }
}
.select2-container.select2-container--krajee.select2-container--open .select2-selection {
  box-shadow: none;
}
.select2-container.select2-container--krajee.select2-container--open .select2-selection:focus {
  box-shadow: none;
}
.select2-container.select2-container--krajee.select2-container--open .select2-selection--single {
  box-shadow: none;
  border-color: #0caa9d;
}
.select2-container.select2-container--krajee.select2-container--open .select2-selection--single:focus {
  box-shadow: none;
  border-color: #0caa9d;
}
.select2-container.select2-container--krajee .select2-dropdown {
  border-color: #0caa9d;
  box-shadow: none;
}
.select2-container.select2-container--krajee .select2-results__option--highlighted[aria-selected] {
  background-color: #0ec2b3;
  color: #fff;
}
.select2-container.select2-container--krajee .select2-results__option[aria-selected=true] {
  background-color: #0caa9d;
  color: #fff;
}
