.hostess-filter .multi-cont {
  width: 100%;
}
.hostess-filter .multi-cont button {
  width: 100% !important;
  text-align: left;
}
.hostess-filter .multi-cont button .caret {
  position: absolute;
  top: 15px;
  right: 5px;
}
.hostess-filter .toggle-search-btn {
  cursor: pointer;
}
.hostess-filter .input-group-addon {
  border-radius: 0;
}
.hostess-filter .multiselect-container {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}
.hostess-filter .dropdown-menu > li > a {
  padding: 3px 25px;
}
.hostess-filter .has-success .cbx-active,
.hostess-filter .has-success .cbx-active:hover,
.hostess-filter .has-success .cbx-active:focus,
.hostess-filter .has-error .cbx-active,
.hostess-filter .has-error .cbx-active:hover,
.hostess-filter .has-error .cbx-active:focus {
  box-shadow: none;
}
.hostess-filter .cbx {
  border-radius: 0;
  width: 16px;
  height: 16px;
}
.hostess-filter .cbx:hover,
.hostess-filter .cbx:focus {
  box-shadow: none;
  border-color: #0caa9d;
}
.hostess-filter label + .cbx-container,
.hostess-filter .cbx-container + label,
.hostess-filter .cbx-container + .cbx-container {
  margin-left: 5px;
  vertical-align: middle;
  line-height: 16px;
  margin-bottom: 0;
}
.hostess-filter .advanced-search {
  padding-top: 20px;
  padding-bottom: 20px;
  border: 2px solid #0caa9d;
  border-top: 0;
  -webkit-box-shadow: 0 5px 10px #0003;
  box-shadow: 0 5px 10px #0003;
  /*display: none;*/

}
.hostess-filter .bg-green {
  background: #0caa9d;
  color: #fff;
  line-height: 30px;
}
.hostess-filter .advanced-search-label {
  padding-top: 7px;
  padding-bottom: 7px;
}
.hostess-filter .field-advanced-search-sort {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
}
.hostess-item .relative {
  position: relative;
}
.hostess-item .img-hostess .profile-image {
  width: 220px;
  height: 170px;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  max-width: 100%;
}
.hostess-item .img-hostess .premium-hostess {
  display: none;
  right: 5px;
  top: -15px;
  position: absolute;
}
.hostess-item .img-hostess.premium .premium-hostess {
  display: block;
}
.hostess-item .img-hostess .img-options {
  transition: visibility 0s linear 0.2s, opacity 0.2s linear 0s;
}
.hostess-item .img-hostess .img-options .zoom-in,
.hostess-item .img-hostess .img-options .mobile {
  opacity: 0;
  position: absolute;
  bottom: 0;
  width: 38px;
  height: 38px;
  display: block;
  padding: 10px 12px;
  background: #0caa9d;
  visibility: hidden;
}
.hostess-item .img-hostess .img-options .zoom-in i,
.hostess-item .img-hostess .img-options .mobile i {
  color: white;
}
.hostess-item .img-hostess .img-options .zoom-in {
  right: 35px;
}
.hostess-item .img-hostess .img-options.has-mobile .mobile {
  right: 35px;
  opacity: 1;
  visibility: visible;
}
.hostess-item .img-hostess .img-options.has-mobile .zoom-in {
  right: 73px;
  border-right: 1px solid #fff;
}
.hostess-item .img-hostess:hover .img-options {
  cursor: pointer;
  transition-delay: 0s;
}
.hostess-item .img-hostess:hover .img-options .zoom-in,
.hostess-item .img-hostess:hover .img-options .mobile {
  opacity: 1;
  visibility: visible;
}
.hostess-item .username a {
  font-weight: bold;
  color: #0caa9d;
}
.hostess-item .username a:hover,
.hostess-item .username a:focus {
  color: #0caa9d;
  text-decoration: underline;
}
