.info-label:hover {
  text-decoration: underline;
  cursor: pointer;
}
.hostess-view-profile {
  display: none;
}
.loading-content {
  display: block;
}
.container {
  overflow-x: hidden;
}
.prev-profile {
  height: 50px;
  min-height: 50px;
  text-align: left;
}
.next-profile {
  height: 50px;
  min-height: 50px;
  text-align: right;
}
.to-results {
  height: 50px;
  min-height: 50px;
  padding-top: 15px;
}
.to-results.left-align {
  padding: 0;
}
.prev-profile .next-profile-image,
.next-profile .next-profile-image,
.prev-profile .prev-profile-image,
.next-profile .prev-profile-image {
  min-height: 50px;
  min-width: 35px;
  max-width: 35px !important;
  height: auto !important;
  position: relative;
  transition: left .3s;
  -webkit-transition: left .3s;
  z-index: 2;
}
.prev-profile .next-profile-image,
.next-profile .next-profile-image {
  right: -1170px;
  transition: right .3s;
  -webkit-transition: right .3s;
}
.prev-profile .prev-profile-image,
.next-profile .prev-profile-image {
  left: -1170px;
  transition: left .3s;
  -webkit-transition: left .3s;
}
.prev-profile:hover .prev-profile-image,
.next-profile:hover .prev-profile-image {
  left: 0;
}
.prev-profile:hover .next-profile-image,
.next-profile:hover .next-profile-image {
  right: 0;
}
.about-me-content {
  font-size: 15px;
}
.about-me-title {
  font-size: 17px;
  color: #0caa9d;
}
.notification-request {
  font-size: 15px;
}
.statistics .attr-value {
  text-align: center;
}
.statistics .statistic-color {
  display: inline-block;
  padding: 5px;
  min-width: 50%;
  color: white;
}
.statistics .statistic-color.red {
  background-color: #db2c27;
}
.statistics .statistic-color.orange {
  background-color: #ff9933;
}
.statistics .statistic-color.yellow {
  background-color: #ffda33;
}
.statistics .statistic-color.green {
  background-color: #0caa9d;
}
.statistics .statistic-separator {
  display: inline-block;
  /*width: 2%;*/

  margin: 0 5px;
}
.statistics .statistic-value {
  display: inline-block;
  min-width: 3%;
}
.nav-pills > li {
  margin-left: 0;
  padding: 0;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.nav-pills > li:list-child {
  border-right: none;
}
.nav-pills > li a {
  border-radius: 0;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  background-color: #909195;
}
.nav-pills > li a:hover,
.nav-pills > li a:focus {
  background-color: #0caa9d;
}
.nav-pills > li.active {
  background-color: #0caa9d;
}
.nav-pills > li.active a {
  background-color: #0caa9d;
}
.nav-pills > li.active a:hover,
.nav-pills > li.active a:focus {
  background-color: #0caa9d;
}
.nav-pills > li + li {
  margin-left: 0;
}
.images-content {
  text-align: center;
}
.images-content .carousel {
  max-width: 360px;
  margin: 0 auto;
}
.images-content .profile-images {
  /* Frame */

}
.images-content .profile-images .frame {
  overflow: hidden;
}
.images-content .profile-images .frame ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 50px;
}
.images-content .profile-images .frame ul li {
  float: left;
  margin: 0 5px 0 0;
}
.images-content .profile-images .frame ul li.active {
  background: #fff;
}
.images-content .profile-images .frame ul li img {
  cursor: pointer;
}
.images-content .profile-images .controls {
  margin: 25px 0 0 0 ;
}
.images-content .profile-images .controls .btn,
.images-content .profile-images .controls .btn:active,
.images-content .profile-images .controls .btn:focus {
  background-color: #0caa9d;
  color: #fff;
  outline: none;
}
.rating-price-content .price-content {
  margin-bottom: 15px;
}
.rating-price-content .pricing-details {
  color: #0caa9d;
}
.rating-price-content .pricing-details a.green-link {
  color: #0caa9d;
}
.rating-price-content .pricing-details a.green-link:hover,
.rating-price-content .pricing-details a.green-link:focus {
  color: #0caa9d;
}
.rating-price-content .daily-rate-label {
  color: #0caa9d;
  font-size: 17px;
}
.rating-price-content .event-price {
  font-size: 24px;
  color: #333;
  font-weight: bold;
}
.book .btn-send-request {
  font-size: 17px;
}
.book .title {
  font-size: 17px;
  color: #0caa9d;
  margin-bottom: 10px;
  display: block;
}
.book ul.checkbox {
  padding: 0;
}
.book ul.checkbox li {
  border: 1px transparent solid;
  display: inline-block;
  width: 49%;
}
.hostess-tab-content {
  padding: 30px 30px 0 30px;
  min-height: 360px;
  font-size: 17px;
}
.hostess-tab-content .attr-label {
  color: #0caa9d;
  line-height: 30px;
}
.hostess-tab-content .attr-value {
  line-height: 30px;
}
.hostess-tab-content .table thead tr th {
  color: #0caa9d;
  font-weight: normal;
}
.hostess-tab-content .table tr td {
  border-top: none;
}
.select2-container.select2-container--krajee .select2-dropdown {
  box-shadow: none;
  border-color: #0caa9d;
  overflow-x: hidden;
  margin-top: -1px;
}
.select2-container.select2-container--krajee .select2-selection--single {
  border-radius: 0;
}
.select2-container.select2-container--krajee .select2-selection--single:focus {
  box-shadow: none;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  border-color: #0caa9d;
}
.select2-container.select2-container--krajee .select2-selection--single .select2-selection__arrow {
  background: #0caa9d;
  color: #fff;
  border-left: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.select2-container.select2-container--krajee .select2-selection--single .select2-selection__arrow b {
  border-color: #ffffff rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}
.select2-container.select2-container--krajee.select2-container--open .select2-results__option--highlighted[aria-selected] {
  background-color: #0caa9d;
}
.select2-container.select2-container--krajee.select2-container--open .select2-selection--single {
  box-shadow: none;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  border-color: #0caa9d;
}
.select2-container.select2-container--krajee.select2-container--open .select2-selection--single .select2-selection__arrow {
  background: #0caa9d;
  color: #fff;
  border-left: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.select2-container.select2-container--krajee.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #ffffff rgba(0, 0, 0, 0);
}
.hostess-date-range-picker .datepicker table tr th,
.hostess-date-range-picker .datepicker table tr td {
  border-radius: 0;
}
.hostess-date-range-picker .datepicker table tr td.active {
  background: #0caa9d;
}
.hostess-date-range-picker .datepicker table tr td.active.highlighted.active,
.hostess-date-range-picker .datepicker table tr td.active.highlighted:active,
.hostess-date-range-picker .datepicker table tr td.active.active,
.hostess-date-range-picker .datepicker table tr td.active:active {
  background: #0caa9d;
}
.hostess-date-range-picker .datepicker table tr td.disabled {
  color: #cccccc;
}
.hostess-date-range-picker .datepicker table tr td.disabled:hover {
  color: #cccccc;
}
.hostess-date-range-picker .input-group.input-daterange .input-group-addon {
  background: #0caa9d;
  color: #fff;
  border: none;
  border-left: none;
  border-radius: 0;
}
@media (max-width: 768px) {
  .hostess-tab-content {
    padding-left: 0;
  }
  .rating-price-content {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .images-content .carousel {
    min-height: 400px;
  }
  .prev-profile .next-profile-image,
  .next-profile .next-profile-image,
  .prev-profile .prev-profile-image,
  .next-profile .prev-profile-image {
    min-height: 20px;
    min-width: 20px;
    max-width: 20px !important;
    height: auto !important;
    position: relative;
    z-index: 2;
    vertical-align: top;
  }
  .prev-profile .next-profile-image,
  .next-profile .next-profile-image {
    right: 0px;
  }
  .prev-profile .prev-profile-image,
  .next-profile .prev-profile-image {
    left: 0px;
  }
}
@media (max-width: 360px) {
  .hostess-tab-content {
    font-size: 13px;
  }
}
@media (min-width: 1000px) {
  .images-content .carousel {
    min-height: 400px;
  }
}
.review-item {
  font-size: 13px;
}
.review-item .comment-section {
  min-height: 130px;
}
.review-item:nth-child(odd) .border-right {
  border-right: 1px solid #cccccc;
}
.review-item:nth-child(even) .border-right {
  border-right: none;
}
.review-item .review-item-content {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 20px;
}
@media (max-width: 768px) {
  .review-item:nth-child(odd) .border-right,
  .review-item:nth-child(even) .border-right {
    border-right: none;
  }
}
@media (min-width: 769px) and (max-width: 991px) {
  .review-item .comment-section {
    min-height: 220px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .review-item .comment-section {
    min-height: 200px;
  }
}
.border-bottom-green {
  border-bottom: 1px solid #0caa9d;
}
.multi-cont-event-jobs {
  position: relative;
}
.multi-cont-event-jobs .caret {
  border-color: #fff transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  right: -14px;
  margin-top: 7px;
  position: absolute;
  width: 0;
  float: right;
}
.multi-cont-event-jobs button,
.multi-cont-event-jobs .btn-default {
  width: 100% !important;
  text-align: left;
  color: #555555;
  position: relative;
  box-shadow: none;
  border-right-width: 20px;
  border-right-color: #0caa9d !important;
}
.multi-cont-event-jobs button:hover,
.multi-cont-event-jobs .btn-default:hover,
.multi-cont-event-jobs button:focus,
.multi-cont-event-jobs .btn-default:focus,
.multi-cont-event-jobs button:active,
.multi-cont-event-jobs .btn-default:active {
  background-color: white;
  box-shadow: none;
}
.multi-cont-event-jobs.open button,
.multi-cont-event-jobs.open .btn-default {
  background-color: white;
  box-shadow: none;
}
.multi-cont-event-jobs.open button:hover,
.multi-cont-event-jobs.open .btn-default:hover,
.multi-cont-event-jobs.open button:focus,
.multi-cont-event-jobs.open .btn-default:focus,
.multi-cont-event-jobs.open button:active,
.multi-cont-event-jobs.open .btn-default:active {
  background-color: white;
  border-color: #0caa9d;
  box-shadow: none;
}
.multi-cont-event-jobs ul {
  border-radius: 0px;
  max-width: 360px;
}
.multi-cont-event-jobs ul li {
  padding: 5px;
}
.multi-cont-event-jobs ul li.active a {
  background-color: #0caa9d;
}
.multi-cont-event-jobs ul li.active a:hover,
.multi-cont-event-jobs ul li.active a:focus,
.multi-cont-event-jobs ul li.active a:active {
  background-color: #0caa9d;
}
.multi-cont-event-jobs .input-group-addon,
.multi-cont-event-jobs .form-control {
  border-radius: 0px;
}
