.red-glyphicon {
  cursor: pointer;
  color: #db2c27;
}
.datepicker table tr td.day {
  color: #333;
}
.datepicker table tr td.day.new,
.datepicker table tr td.day.old {
  color: #333;
}
.datepicker table tr td.day.disabled {
  color: #777;
}
.datepicker table tr td.active,
.datepicker table tr td.active.highlighted,
.datepicker table tr td.active:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active.highlighted:active,
.datepicker table tr td.active.highlighted.active {
  background-color: #0caa9d !important;
  border-color: #0caa9d !important;
}
.about-me .hint-block {
  margin-top: 15px;
}
.message-from-admin h2 {
  margin-top: 0;
}
.statistics .attr-value {
  text-align: center;
}
.statistics .statistic-color {
  display: inline-block;
  padding: 5px;
  min-width: 100%;
  color: white;
  text-align: center;
}
.statistics .statistic-color.red {
  background-color: #db2c27;
}
.statistics .statistic-color.orange {
  background-color: #ff9933;
}
.statistics .statistic-color.yellow {
  background-color: #ffda33;
}
.statistics .statistic-color.green {
  background-color: #0caa9d;
}
.statistics .statistic-separator {
  display: inline-block;
  /*width: 2%;*/

  margin: 0 5px;
}
.statistics .statistic-value {
  display: inline-block;
  min-width: 15%;
}
.request-alert {
  text-align: center;
  background-image: url("../images/eclipse.png");
  background-repeat: no-repeat;
  color: white;
  font-size: 22px;
  font-weight: 900;
  height: 38px;
  width: 38px;
  line-height: 38px;
  position: absolute;
  right: 0;
  top: -15px;
  z-index: 999;
}
.nav-pills li {
  margin-left: 0;
  padding: 0;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.nav-pills li:list-child {
  border-right: none;
}
.nav-pills li a {
  border-radius: 0;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  background-color: #909195;
}
.nav-pills li a:hover,
.nav-pills li a:focus {
  background-color: #0caa9d;
}
.nav-pills li.active {
  background-color: #0caa9d;
}
.nav-pills li.active a {
  background-color: #0caa9d;
}
.nav-pills li.active a:hover,
.nav-pills li.active a:focus {
  background-color: #0caa9d;
}
.nav-pills.profile-main-menu li a {
  font-size: 17px;
  padding: 20px 0;
}
.nav-pills > li + li {
  margin-left: 0;
}
.hostess-tab-content {
  margin-top: 40px;
  /*font-size : 17px;*/

}
.hostess-tab-content .green-form-title {
  color: #0caa9d;
  line-height: 30px;
  font-size: 17px;
}
.hostess-tab-content .table.table-grey thead tr th {
  color: #fff;
  text-align: center;
  background-color: #909195;
  border-bottom: none;
  font-weight: normal;
  border-right: 1px solid #fff;
}
.hostess-tab-content .table.table-grey thead tr th a,
.hostess-tab-content .table.table-grey thead tr th a:focus,
.hostess-tab-content .table.table-grey thead tr th a:hover {
  color: #fff;
  text-decoration: none;
}
.hostess-tab-content .table.table-grey thead tr th.text-left {
  text-align: left;
}
.hostess-tab-content .table.table-grey tr td {
  border-top: none;
  text-align: center;
}
.hostess-tab-content .table.table-grey tr td a,
.hostess-tab-content .table.table-grey tr td a:focus,
.hostess-tab-content .table.table-grey tr td a:hover {
  color: #fff;
  text-decoration: none;
}
.hostess-tab-content .table.table-grey tr td a.green-link,
.hostess-tab-content .table.table-grey tr td a:focus.green-link,
.hostess-tab-content .table.table-grey tr td a:hover.green-link {
  color: #0caa9d;
  text-decoration: none;
}
.hostess-tab-content .table.table-grey tr td a.green-link:focus,
.hostess-tab-content .table.table-grey tr td a:focus.green-link:focus,
.hostess-tab-content .table.table-grey tr td a:hover.green-link:focus,
.hostess-tab-content .table.table-grey tr td a.green-link:hover,
.hostess-tab-content .table.table-grey tr td a:focus.green-link:hover,
.hostess-tab-content .table.table-grey tr td a:hover.green-link:hover {
  color: #0caa9d;
  text-decoration: none;
}
.hostess-tab-content .table.table-grey tr td a.btn-default,
.hostess-tab-content .table.table-grey tr td a:focus.btn-default,
.hostess-tab-content .table.table-grey tr td a:hover.btn-default {
  color: #333;
}
.hostess-tab-content .table.table-grey tr td.text-left {
  text-align: left;
}
.hostess-tab-content .table.table-grey .request-status {
  width: 100%;
  display: block;
  padding: 6px 12px;
  border-radius: 0;
  font-size: inherit;
  font-weight: normal;
  color: white;
}
.hostess-tab-content .table.table-grey .request-status.danger {
  background-color: #d9534f;
}
.hostess-tab-content .table.table-grey .request-status.warning {
  background-color: #f0ad4e;
}
.hostess-tab-content .table.table-green thead tr th {
  color: #0caa9d;
  text-align: center;
  background-color: #fff;
  border-bottom: none;
  font-weight: normal;
  /*border-right: 1px solid #fff;*/

}
.hostess-tab-content .table.table-green thead tr th a,
.hostess-tab-content .table.table-green thead tr th a:focus,
.hostess-tab-content .table.table-green thead tr th a:hover {
  color: #0caa9d;
  text-decoration: none;
}
.hostess-tab-content .table.table-green thead tr th.text-left {
  text-align: left;
}
.hostess-tab-content .table.table-green tr td {
  border-top: none;
  text-align: center;
}
.hostess-tab-content .table.table-green tr td a,
.hostess-tab-content .table.table-green tr td a:focus,
.hostess-tab-content .table.table-green tr td a:hover {
  color: #fff;
  text-decoration: none;
}
.hostess-tab-content .table.table-green tr td.text-left {
  text-align: left;
}
.hostess-content.padding-top-30 {
  padding: 30px 0 0 0px;
}
.hostess-content .kv-editable-link {
  color: #0caa9d;
  border-bottom: none;
}
.hostess-content .kv-editable-link:focus,
.hostess-content .kv-editable-link:hover {
  color: #054b45;
  text-decoration: underline;
}
.hostess-content .attr-label {
  color: #0caa9d;
  line-height: 30px;
}
.hostess-content .attr-value {
  line-height: 30px;
}
.hostess-content .green-form-title {
  color: #0caa9d;
  line-height: 30px;
  font-size: 17px;
}
.hostess-content .panel {
  border: none;
  box-shadow: none;
}
.hostess-content .panel .panel-heading {
  padding: 0px;
  border: none;
}
.hostess-content .panel .panel-footer {
  background-color: white;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top: none;
  padding: 0px;
}
.hostess-content .panel .table-responsive {
  border-top: none;
}
.hostess-content .panel .table-responsive .table thead tr th,
.hostess-content .panel .table-responsive .table tbody tr th {
  color: #0caa9d;
  font-weight: normal;
  border-top: none;
  text-align: left;
}
.hostess-content .panel .table-responsive .table thead tr td,
.hostess-content .panel .table-responsive .table tbody tr td {
  border-top: none;
  text-align: left;
}
.hostess-content .select2-selection.select2-selection--multiple {
  border-radius: 0;
}
.hostess-content .select2-container--krajee.select2-container--open .select2-selection,
.hostess-content .select2-container--krajee .select2-selection:focus {
  box-shadow: none;
  border-color: #0caa9d;
}
.hostess-content .bootstrap-switch {
  border-radius: 0;
}
.hostess-content .bootstrap-switch .bootstrap-switch-handle-on {
  border-radius: 0;
}
.hostess-content .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
  background-color: #0caa9d;
}
.hostess-content .bootstrap-switch .bootstrap-switch-handle-off {
  border-radius: 0;
}
.hostess-content .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
  background-color: #0caa9d;
}
.hostess-content .bootstrap-switch.bootstrap-switch-focused {
  border-color: #0caa9d;
  outline: 0;
  box-shadow: none;
}
select.form-control.small.inline.xs-select {
  width: 33.33%;
}
.select2-container--krajee .select2-selection.select2-selection--single {
  border-radius: 0;
}
.images-content {
  text-align: left;
}
.images-content .profile-images {
  /* Frame */

}
.images-content .profile-images .frame {
  overflow: hidden;
}
.images-content .profile-images .frame ul {
  list-style: none;
  margin: 0;
  padding: 0;
  /*max-height : 335px;*/

  /*overflow-y: hidden;*/

  height: 100%;
  /*                font-size: 50px;*/

}
.images-content .profile-images .frame ul li {
  float: left;
  /*margin: 0 5px 0 0;*/

  min-width: 300px;
  padding: 10px;
  border: 1px solid #dfdfdf;
}
.images-content .profile-images .frame ul li.active {
  background: #fff;
}
.images-content .profile-images .frame ul li img {
  margin: 0 auto;
}
.images-content .profile-images .controls {
  margin: 125px 0 0 0 ;
}
.images-content .profile-images .controls .btn,
.images-content .profile-images .controls .btn:active,
.images-content .profile-images .controls .btn:focus {
  background-color: #0caa9d;
  color: #fff;
  outline: none;
}
@media (max-width: 360px) {
  .hostess-content {
    padding-left: 0;
  }
}
@media (max-width: 360px) {
  .hostess-tab-content {
    font-size: 1em;
  }
}
@media (max-width: 768px) {
  .images-content .carousel {
    margin: 0 auto;
  }
  .images-content span.hidden-xs {
    display: inline-block !important;
  }
  .nav-pills.profile-main-menu li a {
    font-size: 14px;
    padding: 15px 0;
  }
}
@media (max-width: 330px) {
  .nav-pills.profile-main-menu li a {
    font-size: 12px;
    padding: 15px 0;
  }
  .nav-pills.profile-submenu li a {
    font-size: 0.8em;
  }
}
.review-item .comment-section {
  min-height: 130px;
}
.review-item:nth-child(odd) .border-right {
  border-right: 1px solid #cccccc;
}
.review-item:nth-child(even) .border-right {
  border-right: none;
}
.review-item .review-item-content {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 20px;
}
@media (max-width: 768px) {
  .review-item:nth-child(odd) .border-right,
  .review-item:nth-child(even) .border-right {
    border-right: none;
  }
}
@media (min-width: 769px) and (max-width: 991px) {
  .review-item .comment-section {
    min-height: 220px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .review-item .comment-section {
    min-height: 200px;
  }
}
.approval-disabled-btn {
  opacity: .65;
}
.progress {
  margin-bottom: 5px;
}
.education .hint-block {
  margin-top: 15px;
}
