#contactform-captcha-image {
  cursor: pointer;
}
.steps {
  color: white;
  text-align: center;
}
.steps .col {
  width: 20%;
  float: left;
  text-align: center;
}
.steps .step-icon {
  height: 86px;
  background-repeat: no-repeat;
  background-position: top center;
  margin-bottom: 15px;
}
.steps .step-icon.registration {
  background-image: url("../images/steps/registration.png");
}
.steps .step-icon.selection {
  background-image: url("../images/steps/selection.png");
}
.steps .step-icon.request {
  background-image: url("../images/steps/request.png");
}
.steps .step-icon.booking {
  background-image: url("../images/steps/booking.png");
}
.steps .step-icon.payment {
  background-image: url("../images/steps/payment.png");
}
.steps .step-icon.signup {
  background-image: url("../images/steps/signup.png");
}
.testimonials {
  background-image: url(../images/thumbs_up.jpg);
  min-height: 350px;
  background-size: cover;
  /*background-position: center -105px;*/

  /*margin-bottom: 50px;*/

}
.testimonials .slide .carousel {
  min-height: 350px;
}
.testimonials .carousel-indicators li {
  height: 20px;
  width: 20px;
}
.testimonials .carousel-indicators li.active {
  background-color: #0caa9d;
}
.testimonials .carousel-caption {
  font-size: 32px;
  left: 0;
  padding-top: 70px;
  position: relative;
  right: 0;
  text-align: center;
}
.testimonials .item {
  background-image: url("../images/quote.png");
  background-position: center top;
  background-repeat: no-repeat;
  margin-top: 15px;
}
.blogs {
  background-image: url(../images/notes.jpg);
  min-height: 575px;
  background-size: cover;
}
.blogs .overlay {
  min-height: 575px;
  padding: 0 0 20px 0;
  background: rgba(0, 0, 0, 0.8);
}
.connect {
  background-image: url(../images/notes.jpg);
  min-height: 250px;
  background-size: cover;
}
.connect .overlay {
  padding: 0 0 20px 0;
  min-height: 250px;
  background: rgba(0, 0, 0, 0.8);
}
.connect .newsletter .signup-title,
.connect .newsletter .signup-message {
  color: #fff;
  font-size: 17px;
}
.connect .newsletter .error {
  color: #db2c27;
}
.about .about-icons {
  text-align: center;
  margin-top: 30px;
}
.about .about-icons .about-item {
  cursor: pointer;
}
.about .about-icons .about-item .about-icon {
  height: 127px;
  background-repeat: no-repeat;
  background-position: top center;
  margin-bottom: 15px;
}
.about .about-icons .about-item .about-icon.belowavgprices {
  background-image: url("../images/about_icons/belowavgprices-g.png");
}
.about .about-icons .about-item .about-icon.fairvages {
  background-image: url("../images/about_icons/fairvages-g.png");
}
.about .about-icons .about-item .about-icon.userfriendly {
  background-image: url("../images/about_icons/userfriendly-g.png");
}
.about .about-icons .about-item .about-icon.motivated {
  background-image: url("../images/about_icons/motivated-g.png");
}
.about .about-icons .about-item.active,
.about .about-icons .about-item:hover {
  color: #0caa9d;
}
.about .about-icons .about-item.active .about-icon.belowavgprices,
.about .about-icons .about-item:hover .about-icon.belowavgprices {
  background-image: url("../images/about_icons/belowavgprices-green.png");
}
.about .about-icons .about-item.active .about-icon.fairvages,
.about .about-icons .about-item:hover .about-icon.fairvages {
  background-image: url("../images/about_icons/fairvages-green.png");
}
.about .about-icons .about-item.active .about-icon.userfriendly,
.about .about-icons .about-item:hover .about-icon.userfriendly {
  background-image: url("../images/about_icons/userfriendly-green.png");
}
.about .about-icons .about-item.active .about-icon.motivated,
.about .about-icons .about-item:hover .about-icon.motivated {
  background-image: url("../images/about_icons/motivated-green.png");
}
@media (max-width: 700px) {
  .steps {
    color: white;
    text-align: center;
    font-size: 10px;
  }
  .steps .step-icon {
    height: 38px;
    background-repeat: no-repeat;
    background-position: top center;
    margin-bottom: 15px;
  }
  .steps .step-icon.registration {
    background-image: url("../images/steps/registration_sm.png");
  }
  .steps .step-icon.selection {
    background-image: url("../images/steps/selection_sm.png");
  }
  .steps .step-icon.request {
    background-image: url("../images/steps/request_sm.png");
  }
  .steps .step-icon.booking {
    background-image: url("../images/steps/booking_sm.png");
  }
  .steps .step-icon.payment {
    background-image: url("../images/steps/payment_sm.png");
  }
  .steps .step-icon.signup {
    background-image: url("../images/steps/signup_sm.png");
  }
  .about {
    font-size: 10px;
  }
  .about .about-icons {
    text-align: center;
    margin-top: 30px;
  }
  .about .about-icons .about-item {
    cursor: pointer;
  }
  .about .about-icons .about-item .about-icon {
    height: 47px;
    background-repeat: no-repeat;
    background-position: top center;
    margin-bottom: 15px;
  }
  .about .about-icons .about-item .about-icon.belowavgprices {
    background-image: url("../images/about_icons/belowavgprices-g_sm.png");
  }
  .about .about-icons .about-item .about-icon.fairvages {
    background-image: url("../images/about_icons/fairvages-g_sm.png");
  }
  .about .about-icons .about-item .about-icon.userfriendly {
    background-image: url("../images/about_icons/userfriendly-g_sm.png");
  }
  .about .about-icons .about-item .about-icon.motivated {
    background-image: url("../images/about_icons/motivated-g_sm.png");
  }
  .about .about-icons .about-item.active,
  .about .about-icons .about-item:hover {
    color: #0caa9d;
  }
  .about .about-icons .about-item.active .about-icon.belowavgprices,
  .about .about-icons .about-item:hover .about-icon.belowavgprices {
    background-image: url("../images/about_icons/belowavgprices-green_sm.png");
  }
  .about .about-icons .about-item.active .about-icon.fairvages,
  .about .about-icons .about-item:hover .about-icon.fairvages {
    background-image: url("../images/about_icons/fairvages-green_sm.png");
  }
  .about .about-icons .about-item.active .about-icon.userfriendly,
  .about .about-icons .about-item:hover .about-icon.userfriendly {
    background-image: url("../images/about_icons/userfriendly-green_sm.png");
  }
  .about .about-icons .about-item.active .about-icon.motivated,
  .about .about-icons .about-item:hover .about-icon.motivated {
    background-image: url("../images/about_icons/motivated-green_sm.png");
  }
}
.select2-container--krajee .select2-selection--single {
  border-radius: 0 !important;
}
.select2-container .select2-selection--single .select2-selection__clear {
  position: absolute !important;
  top: 0  !important;
  margin-right: 25px  !important;
  font-size: 25px;
}
