body {
    background-image: url("images/invoice_bg.png");
    background-repeat:no-repeat;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #333;
    background-color: #fff;    
}