@font-face {
  font-family: MavenProBlack;
  src: url(../fonts/MavenPro-Black.ttf);
}
@font-face {
  font-family: MavenProBold;
  src: url(../fonts/MavenPro-Bold.ttf);
}
@font-face {
  font-family: MavenProMedium;
  src: url(../fonts/MavenPro-Medium.ttf);
}
@font-face {
  font-family: MavenProRegular;
  src: url(../fonts/MavenPro-Regular.ttf);
}
.modal {
  overflow: auto;
}
.modal-open {
  overflow: auto;
}
.modal-open[style] {
  padding-right: 0px !important;
}
html,
body {
  min-height: 100%;
  font-family: "MavenProRegular", sans-serif;
  overflow-x: hidden;
}
.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}
.wrap > .container {
  padding: 20px 15px 20px;
}
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
.not-set {
  color: #c55;
  font-style: italic;
}
/* add sorting icons to gridview sort links */
a.asc:after,
a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px;
}
a.asc:after {
  content: /*"\e113"*/ "\e151";
}
a.desc:after {
  content: /*"\e114"*/ "\e152";
}
.sort-numerical a.asc:after {
  content: "\e153";
}
.sort-numerical a.desc:after {
  content: "\e154";
}
.sort-ordinal a.asc:after {
  content: "\e155";
}
.sort-ordinal a.desc:after {
  content: "\e156";
}
a,
a:active,
a:focus {
  outline: none;
}
.navbar-nav.navbar-right.nav {
  height: 80px;
  width: 75%;
  margin-right: 0;
}
.wrap .minor-padding {
  padding: 5px 15px;
}
.wrap > .main-container {
  padding: 0 0 00px 0;
  width: 100%;
}
.wrap.simple .main-container {
  padding: 0;
  width: 100%;
}
.wrap.simple .footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.wrap.simple .banner {
  min-height: 95vh;
  padding-bottom: 60px;
}
textarea {
  resize: none;
}
.modal {
  z-index: 1055;
}
.glyphicon.glyphicon-info-sign {
  cursor: pointer;
}
