@media (min-width: 1200px) {
  .circle {
    position: relative;
    width: 75%;
    height: 0;
    padding: 35% 0;
    margin: 0 auto;
    border-radius: 50%;
  }
}
@media (max-width: 1200px) {
  .circle {
    position: relative;
    width: 75%;
    height: 0;
    padding: 35% 0;
    margin: 0 auto;
    border-radius: 50%;
  }
  .footer {
    text-align: center;
  }
  .footer .links {
    text-align: center;
    margin-top: 10px;
  }
  .search-hostess-btn {
    margin-bottom: 25px;
  }
  .form-overlay {
    padding: 25px 0 0 0 ;
  }
  .form-group-m-0 .form-group {
    margin-bottom: 25px;
  }
}
@media (max-width: 768px) {
  .event-item:nth-child(odd) .border-right,
  .event-item:nth-child(even) .border-right {
    border-right: none;
  }
  body.simple {
    overflow-y: scroll;
  }
  .register-form {
    margin-top: 8em;
  }
  .register-form .title {
    font-weight: 700;
    font-size: 1.7em;
    line-height: 1.7em;
  }
  .register-form .subtitle {
    font-weight: 400;
    font-size: 1.3em;
    line-height: 1.3em;
  }
  .address {
    text-align: center;
  }
  .homepageHeaderCont {
    margin-top: 2em;
  }
  .homepageHeaderCont .homepageHeader {
    font-size: 1.5em;
  }
  .homepageHeaderCont .homepageSubHeader {
    font-size: 1em;
  }
  .header-top .sign-in {
    text-align: left;
  }
  .header-top .title {
    padding: 5px;
  }
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin-right: 0;
  }
  .banner .text {
    height: 30%;
    font-size: 30px;
    text-align: center;
    padding: 5% 5%;
  }
  .banner .button {
    margin-top: 30px;
    padding: 7% 0 7% 15%;
  }
  .mobile-no-margin {
    margin: 0;
  }
  .navbar .navbar-header .navbar-logo {
    width: 100%;
    height: 65px;
  }
}
@media (max-width: 767px) {
  .circle {
    width: 40%;
    padding: 20% 0;
    border-radius: 50%;
    margin-top: 20px;
  }
  .navbar {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .navbar .navbar-menu {
    width: 100%;
    padding-top: 0px;
    margin: 0;
  }
  .navbar .navbar-menu .menu-item {
    display: block;
    padding: 2px;
    color: #333;
    width: 100%;
    text-align: center;
    margin: 0;
    font-size: 14px;
  }
  .navbar .navbar-header {
    margin-top: 10px;
    width: 100%;
  }
  .navbar .navbar-header .navbar-logo {
    width: 65%;
    height: 65px;
  }
  .navbar .navbar-toggle {
    margin-right: 0;
    margin-right: -15px;
    border: none;
    margin-top: 15px;
  }
  .navbar .navbar-toggle .icon-bar {
    display: block;
    width: 25px;
    height: 2px;
    border-radius: 0;
  }
  .navbar .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 5px;
  }
}
@media (max-width: 360px) {
  .homepageHeaderCont .homepageHeader {
    font-size: 1.25em;
  }
  .register-form {
    margin-top: 5em;
  }
  .text-center-xs {
    text-align: center;
  }
}
@media (max-width: 320px) {
  .navbar {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .circle .content {
    font-size: 12px;
  }
}
