.summary {
  text-align: right;
  padding: 7px 0;
}
.summary span {
  color: #0caa9d;
  font-weight: bold;
}
.pagination {
  margin: 0;
}
.pagination li a,
.pagination li span {
  background: #fff;
  color: #717171;
  border: none;
  border-radius: 0;
}
.pagination li.active a,
.pagination li.active span {
  color: #0caa9d;
  background: #fff;
  background-color: #fff;
}
.pagination li.active a:hover,
.pagination li.active span:hover,
.pagination li.active a:focus,
.pagination li.active span:focus {
  background: #fff;
  background-color: #fff;
  color: #0caa9d;
}
.pagination li.disabled a,
.pagination li.disabled span {
  color: #908f94;
  background: #fff;
}
.pagination li.disabled a:hover,
.pagination li.disabled span:hover,
.pagination li.disabled a:focus,
.pagination li.disabled span:focus {
  color: #908f94;
}
.pagination li:first-child a,
.pagination li:last-child a,
.pagination li:first-child span,
.pagination li:last-child span {
  border-radius: 0;
}
