body {
    background-image: url("images/pdfbg.png");
    background-repeat:no-repeat;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;    
}

tr, td, table{
    background-color: transparent !important;
    background: transparent;
}

.table-padding td{
    padding: 10px;
}

.green-text
{
    color: #0caa9d;
}


.pull-left, .pull-right{
    width: 50%;
    display: inline-block;
}

.pull-left{
    text-align: left;
}

.pull-right{
    text-align: right;
}