.password {
  position: relative;
}
.password input[type="password"] {
  padding-right: 30px;
}
.password .glyphicon {
  right: 15px;
  position: absolute;
  top: 12px;
  cursor: pointer;
}
.password .glyphicon.glyphicon-eye-close {
  color: #908f94;
}
.password .glyphicon.glyphicon-eye-open {
  color: #0caa9d;
}
