.webui-popover {
  background-color: #0caa9d;
  color: #fff;
  border-radius: 0;
}
.webui-popover .webui-popover-inner .webui-popover-title {
  background-color: #0caa9d;
}
.webui-popover .webui-popover-inner .close {
  opacity: 1;
  color: #fff;
}
.webui-popover.bottom > .webui-arrow:after,
.webui-popover.bottom-right > .webui-arrow:after,
.webui-popover.bottom-left > .webui-arrow:after {
  border-bottom-color: #0caa9d;
}
