@import "variables.less";

.blog-single-item{

    padding-bottom : 15px;
    padding-top : 15px;
    border-bottom : 1px solid @grey-border;
    
    &:nth-child(1){
        border-top : 1px solid @grey-border;
    }

    .short-content{
        text-align: justify;
    }

}

.blog-view{
    .short-content, .content{
        text-align: justify;
    }
}