@import "variables.less";

.kv-editable-link{
    padding: 6px 12px;
}

.btn-standard, .btn-standard:focus, .btn-standard:hover,
.btn-green, .btn-green:focus, .btn-green:hover{
    background: @base-green;
    color:white;
    outline:none;
    outline-color: transparent;
    border:1px solid @base-green;      

    &:hover, &:focus{
        color:#fff;
    }
}

.btn-red{
    background: @base-red;
    color:white;
    outline:none;
    outline-color: transparent;
    border:1px solid @base-red; 

    &:hover, &:focus{
        color:#fff;
    }
}

.btn{
    border-radius: 0;

    &.full-width
    {
        width: 100%;
    }
}

.btn-large-padding{
    padding: 15px;
}