@import "variables.less";

.steps-form {
    display: table;
    width: 100%;
    position: relative; 

    .steps-row {
        display: table-row;

        &:before{
            top: 14px;
            bottom: 0;
            position: absolute;
            content: " ";
            width: 100%;
            height: 1px;
            background-color: #ccc; 
        }

        .steps-step {
            display: table-cell;
            text-align: center;
            position: relative; 

            p {
                margin-top: 0.5rem; 
            }

            button[disabled] {
                opacity: 1 !important;
                filter: alpha(opacity=100) !important; 
            }

            .btn-circle {
                width: 30px;
                height: 30px;
                text-align: center;
                padding: 6px 0;
                font-size: 12px;
                line-height: 1.428571429;
                border-radius: 15px;
                margin-top: 0;

                &.active{
                    background-color: @base-green;
                    color: white;
                    border-color: #adadad;
                }
            }
        }
    }
}

.payment-method-cont{
    label{
        font-size: 25px;
    }
}

.items{
    table{

        border:1px solid @font-color; 
        min-width: 100%; 
        width: 100%;

        thead{
            tr{
                font-weight: bold;
            }
        }

        td{
            padding: 5px; 
            border:1px solid @font-color;
        }
    }
}
