@import "variables.less";

.datepicker table tr td.active:active:hover, 
.datepicker table tr td.active.highlighted:active:hover,
.datepicker table tr td.active.active:hover, 
.datepicker table tr td.active.highlighted.active:hover, 
.datepicker table tr td.active:active:focus, 
.datepicker table tr td.active.highlighted:active:focus, 
.datepicker table tr td.active.active:focus, 
.datepicker table tr td.active.highlighted.active:focus, 
.datepicker table tr td.active:active.focus, 
.datepicker table tr td.active.highlighted:active.focus, 
.datepicker table tr td.active.active.focus, 
.datepicker table tr td.active.highlighted.active.focus
{
    background: @base-green; 
    border-color: @base-green;
}

.datepicker table tr td.active:active,
.datepicker table tr td.active.highlighted:active, 
.datepicker table tr td.active.active,
.datepicker table tr td.active.highlighted.active
{
    background: @base-green;   
    border-color: @base-green;
}

.datepicker table tr td.old,
.datepicker table tr td.old:hover,
.datepicker table tr td.new,
.datepicker table tr td.new:hover
{
    color: #333;
}

.datepicker table tr td.disabled, 
.datepicker table tr td.disabled:hover{
    color: #ddd;
}

.input-group-addon.kv-date-calendar{
    border-radius: 0;
    background: @base-green;

    >.glyphicon{
        color: #fff;
    }
}