@import "variables.less";


.event-sign-up-dropdown {

    background-color: @base-green;
    color: #fff;
    border: 1px solid @base-green;
    border-radius: 0;
    padding: 6px 30px;
    text-align: center;
    max-width: 100%;

    option {
        background-color: #fff;
        color: @font-color;
    }

    &:hover{
        color: @font-color;
        background-color: #d4d4d4;
        border-color: #8c8c8c;   

        option{
            background-color: #fff;
        }
    }
}

.select2-container--krajee .select2-selection--single{
    border-radius: 0 !important;
    background-color: #0caa9d !important;
    color: white !important;
}

.select2-container--krajee .select2-selection--single .select2-selection__placeholder{
    color: white !important;
}

.select2-container--krajee .select2-selection--single .select2-selection__arrow
{
    border-left: 1px solid #fff !important;
}

.select2-container--krajee .select2-selection--single .select2-selection__arrow b
{
    border-color: #fff transparent transparent transparent !important;
}

.select2-container.select2-container--krajee.select2-container--open .select2-selection--single .select2-selection__arrow b
{
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #ffffff rgba(0, 0, 0, 0) !important;
}