@import "variables.less";

.hostess-filter{

    .select2-container--krajee .select2-selection--single .select2-selection__arrow
    {
        border-left: none;
    }

    .select2-container--krajee .select2-selection--single .select2-selection__arrow b
    {
        border-color: none;
    }

    .select2-container.select2-container--krajee.select2-container--open .select2-selection--single .select2-selection__arrow b
    {
        border-color: none;
    }

    .multi-cont{
        width: 100%;

        button{
            width: 100% !important;
            text-align: left;

            .caret{
                position: absolute;
                top:15px;
                right : 25px;
            }
        }
    }

    .toggle-search-btn
    {
        cursor: pointer;
    }

    .input-group-addon{
        border-radius: 0;
    }

    .multiselect-container{
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .dropdown-menu > li > a
    {
        padding: 3px 25px;
    }

    .has-success .cbx-active, 
    .has-success .cbx-active:hover, 
        .has-success .cbx-active:focus,
        .has-error .cbx-active, 
        .has-error .cbx-active:hover, 
        .has-error .cbx-active:focus
        {
        box-shadow: none;   
    }

    .cbx{
        border-radius: 0;
        width: 16px;
        height : 16px;


        &:hover, &:focus{
            box-shadow: none;   
            border-color: @base-green;
        }
    }

    label + .cbx-container, .cbx-container + label, .cbx-container + .cbx-container{
        margin-left: 5px;
        vertical-align: middle;
        line-height: 16px;
        margin-bottom: 0;
    }


    .advanced-search{
        padding-top: 20px;
        padding-bottom: 20px;
        border: 2px solid @base-green;
        border-top: 0;
        -webkit-box-shadow: 0 5px 10px #0003;
        box-shadow: 0 5px 10px #0003;
        /*display: none;*/
    }

    .bg-green{
        background: @base-green; 
        color: #fff;
        line-height: 30px;
    }

    .advanced-search-label{
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .field-advanced-search-sort
    {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0;
    }
}


.event-item{
    &:nth-child(odd){
        .border-right{
            border-right: 1px solid @grey-border;   
        }
    }

    &:nth-child(even){
        .border-right{
            border-right: none;   
        }
    }


    .event-item-content {

        border-bottom: 1px solid @grey-border;
        padding-bottom: 20px;


        .title{
            font-weight: 600;
            font-size: 16px;
        }


        .event-sign-up-dropdown {

            background-color: @base-green;
            color: #fff;
            border: 1px solid @base-green;
            border-radius: 0;
            padding: 6px 30px;
            text-align: center;
            max-width: 100%;

            option {
                background-color: #fff;
                color: @font-color;
            }

            &:hover{
                color: @font-color;
                background-color: #d4d4d4;
                border-color: #8c8c8c;   

                option{
                    background-color: #fff;
                }
            }
        }


        .select2-container--krajee .select2-selection--single{
            border-radius: 0 !important;
            background-color: #0caa9d !important;
            color: white !important;
        }

        .select2-container--krajee .select2-selection--single .select2-selection__placeholder{
            color: white !important;
        }

        .select2-container--krajee .select2-selection--single .select2-selection__arrow
        {
            border-left: 1px solid #fff !important;
        }

        .select2-container--krajee .select2-selection--single .select2-selection__arrow b
        {
            border-color: #fff transparent transparent transparent !important;
        }

        .select2-container.select2-container--krajee.select2-container--open .select2-selection--single .select2-selection__arrow b
        {
            border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #ffffff rgba(0, 0, 0, 0) !important;
        }
    }

}


.event-view{
    .spacer {
        border-bottom: 2px solid @base-green;
        width: 100%;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .title {
        font-weight: bold;
        font-size: 24px;
    }

    .bottom-buttons {
        margin-bottom: 160px;

        a {
            margin-bottom: 15px;
        }
    }
}

.select2-container--krajee .select2-selection--single{
    border-radius: 0 !important;
}

.select2-container .select2-selection--single .select2-selection__clear{
    position: absolute !important;
    top :0  !important;
    margin-right: 25px  !important;
    font-size: 25px;
}