@import "variables.less";

.hint-block{
    margin-top: 10px;
}

.padding-bordered-cont{
    padding: 20px;
    border: 1px solid @base-grey;
}

.request-alert {
    text-align: center;
    background-image: url("../images/eclipse.png");
    background-repeat: no-repeat;
    color: white;
    font-size: 22px;
    font-weight: 900;
    height: 38px;
    width: 38px;
    line-height: 38px;
    position: absolute;
    right: 0;
    top: -15px;
    z-index: 999;
}


.nav-pills {

    li{
        margin-left: 0;
        padding : 0;
        border-right: 1px solid #fff;
        border-bottom: 1px solid #fff;

        &:list-child{
            border-right: none;
        }

        a{
            border-radius: 0;
            color: #fff;
            padding: 10px 0;
            text-align: center;
            width: 100%;
            background-color: @dark-grey;

            &:hover, &:focus{
                background-color: @base-green;  
            }
        }


        &.active{
            background-color: @base-green;

            a{
                background-color: @base-green;

                &:hover, &:focus{
                    background-color: @base-green;    
                }
            }
        }
    }

    &.profile-main-menu{
        li{
            a{
                font-size : 17px;
                padding: 20px 0;        
            }
        }
    }
}

.nav-pills > li + li{
    margin-left: 0;
}

.exhibitor-tab-content{
    margin-top: 40px;
    /*font-size : 17px;*/

    .table{
        thead
        {
            tr
            {
                th{
                    color: #fff;
                    text-align: center;
                    background-color: @dark-grey;
                    border-bottom: none;
                    font-weight: normal;
                    border-right: 1px solid #fff;

                    a, a:focus, a:hover{
                        color: #fff;
                        text-decoration: none;
                    }

                    &.text-left{
                        text-align: left;
                    }
                }
            }
        }

        tr{
            td
            {
                border-top: none;
                text-align: center;

                a.green-link{
                    color: @base-green;
                    text-decoration: none;

                    &:focus, &:hover{
                        color: @base-green;
                        text-decoration: none;
                    }
                }

                &.text-left{
                    text-align: left;
                }
            }
        }

        .request-status{

            width: 100%;
            display: block;
            padding: 6px 12px;
            border-radius: 0;
            font-size: inherit;
            font-weight: normal;
            //color : white;

            &.danger{
                background-color: #d9534f;
            }

            &.warning{
                background-color: #f0ad4e;
            }
        }
    }
}

.exhibitor-content{
    padding: 30px 0 0 00px;

    .attr-label{
        color: @base-green;
        line-height: 30px;
    }

    .kv-editable-link{
        color: @base-green;
        border-bottom: none; 

        &:focus, &:hover{
            color: darken(@base-green, 20%);
            text-decoration: underline;
        }
    }

    .attr-value{
        line-height: 30px;
    }

    .green-form-title{
        color: @base-green;
        line-height: 30px;
        font-size: 17px;
    }

    .panel {
        border: none;
        box-shadow: none;

        .panel-heading {
            padding: 0px;
            border: none;
        }

        .panel-footer {
            background-color: white;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            border-top: none;
            padding: 0px;
        }

        .table-responsive{
            border-top: none;


            .table{

                thead, tbody{
                    tr{
                        th{
                            color : @base-green;
                            font-weight: normal;
                            border-top:none;
                            text-align: left;
                        }

                        td{
                            border-top:none;
                            text-align: left;
                        }
                    }
                }
            }
        }
    }

    .select2-selection.select2-selection--multiple{
        border-radius: 0;
    }

    .select2-container--krajee.select2-container--open 
    .select2-selection, .select2-container--krajee .select2-selection:focus
        {
        box-shadow: none;
        border-color : @base-green;           
    }
}


@media (max-width: 360px) {

    .exhibitor-content{
        padding-left: 0;
    }
}



@media (max-width: 360px) {

    .exhibitor-tab-content{
        font-size: 1em;
    }
}


.hostess-item{

    .relative{
        position: relative;
    }

    .img-hostess{

        .profile-image{
            width: 220px;
            height: 170px;
            background-size: cover;
            background-position: center;
            margin: 0 auto;
            max-width: 100%;
        }

        .img-options {
            opacity: 0;
            transition: visibility 0s linear 0.2s, opacity 0.2s linear 0s;
            visibility: hidden;

            .zoom-in{
                position: absolute;
                top: 0;
                right: 37px;
                width: 38px;
                height: 38px;

                a{
                    width: 38px;
                    height: 38px;
                    display: block;
                    padding: 10px 12px;
                    background: @base-green;

                    i{
                        color: white;
                    }
                }
            }
        }

        &:hover{
            .img-options {
                cursor: pointer;
                visibility: visible;
                opacity: 1;
                transition-delay: 0s;
            }
        }
    }


    .username{
        a{
            font-weight: bold;
            color: @base-green;

            &:hover, &:focus{
                color: @base-green;
                text-decoration: underline;
            }
        }
    }
}


.select2-container--krajee {

    .select2-selection.select2-selection--single{
        border-radius: 0;
    }
}

.review-item{


    .comment-section{
        min-height: 130px;
    }


    &:nth-child(odd){
        .border-right{
            border-right: 1px solid @grey-border;   
        }
    }

    &:nth-child(even){
        .border-right{
            border-right: none;   
        }
    }


    .review-item-content {

        border-bottom: 1px solid @grey-border;
        padding-bottom: 20px;
    }

}

@media (max-width: 768px) {

    .review-item{

        &:nth-child(odd), &:nth-child(even){
            .border-right{
                border-right: none;   
            }
        }
    }
}

@media (min-width: 769px) and (max-width: 991px){

    .review-item{
        .comment-section{
            min-height: 220px;
        }
    }

}

@media (min-width: 992px) and (max-width: 1200px){
    .review-item{
        .comment-section{
            min-height: 200px;
        }
    }

}

.btn-checkout{
    min-width: 265px;
    padding: 10px 20px;

    &.dissabled{
        opacity: 0.6;
        max-width: 265px;
    }
}