@import "variables.less";

.footer {
    min-height: 60px;
    background-color: @base-green;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;


    h3{
        margin-bottom: 20px;
    }

    p{
        max-width : 100%;
        /*word-break : break-all;*/
    }


    a{
        color: #fff;
        text-decoration: none;
        max-width : 100%;
        word-break : break-word;

        &:hover{
            text-decoration: none;
            color: #fff;
        }
    }

    .links{
        text-align : center;

        .menu-item {
            margin-right : 20px;
            margin-bottom : 20px;
        }
    }

    .social-links{

        a{
            font-size: 35px;
        }
    }

    .news{

        p{
            a, span{
                display: block;
            }
        }
    }

    .member-of{
        a {
            display: block;

            img{
                margin : 0 auto;
                /*height: 100px;*/
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
            }
        }
    }
}
