@import "variables.less";

#gallery {

    .container-fluid, 
    .col-sm-3  {
        /*overflow: hidden;*/
        padding: 0;
    }

    .folio-item {
        /*display: inline-block;*/
        position: relative;
        max-height: 300px;
        overflow: hidden;
        margin: 1px 1px 0 0 ;
    }

    .overlay {
        background-color: #000;
        color: #fff; 
        left: 0;
        right:0;
        bottom:-100%;
        height: 0;
        position: absolute;
        text-align: center;
        opacity:0;  
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

    .overlay .overlay-content {
        display: table;
        height: 100%;
        width: 100%;
    }

    .overlay .overlay-text {
        display: table-cell;
        vertical-align: middle;
    }

    .overlay .folio-info {
        opacity: 0;
        margin-bottom: 75px;
        margin-top: -75px;
        -webkit-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
    }

    .overlay .folio-info h3 {
        margin-top: 0;
        color: #fff;
    }

    .folio-overview a {
        font-size: 18px;
        color: #333;
        height: 50px;
        width: 50px;
        line-height: 50px;
        border-radius: 50%;
        background-color: #fff;
        display: inline-block;
        margin-top: 20px;
        margin-right: 5px;
    }

    .folio-overview a:hover {
        color: #fff;
        background-color: @base-green;
    }

    .folio-overview .folio-expand {
        margin-top: -500px;
        margin-left: -500px;
    }

    .folio-image, .folio-overview .folio-expand {
        -webkit-transition: all 0.8s ease-in-out;
        transition: all 0.8s ease-in-out;
    }

    .folio-item:hover .folio-image {
/*        -webkit-transform: scale(1.5) rotate(-15deg);
        transform: scale(1.5) rotate(-15deg);*/
    }

    .folio-image img {
        width: 100%;
    }

    .folio-item:hover .overlay {
        opacity: 0.5;
        bottom: 0;
        height: 100%;
    }

    .folio-item:hover .folio-overview .folio-expand {
        margin-top: 0;
        margin-left:0;
    }

    .folio-item:hover .overlay .folio-info {
        opacity: 1;  
        margin-bottom:0;
        margin-top:0;
    }


}