@import "variables.less";


.cookie-text{
    font-size: 12px;
}

.header-top-cookie{
    background-color: #333;
    font-size: 12px;
    color: #fff;
    z-index: 9999;
    padding-top: 5px;
    padding-bottom: 5px;
    display: none;

    a{
        color:  white;
        text-decoration: underline;

        &:active, &:focus, &:visited{
            color:  white;
            text-decoration: underline;
        }
    }
}

.header-top {
    background-color: @base-green;
    font-size: 12px;
    color: #fff;
    z-index: 5000;
    padding-top: 5px;
    padding-bottom: 5px;

    .title {
        padding: 0;
    }

    .sign-in {
        text-align: right;
    }

    .sign-in a {    
        color: #fff;
        text-decoration: none;

        &:focus, &:hover{
            color: #fff;
            text-decoration: none;
        }
    }

}

.header-container{

    .select2-container{

        &.select2-container--krajee 

        {
            .select2-selection--single
            {
                padding-bottom: 0;
                padding-top: 0;
                box-shadow: none;
                border:none;
                outline: none;
                background-color: @base-green;
                color : #fff;
                height: auto;

                .select2-selection__rendered{
                    color : #fff;
                    font-size : 12px;
                }

                .select2-selection__arrow{
                    border-left : none !important;
                    color : #fff;
                    height: 20px;
                    top:0;
                    right : 0;

                    b{
                        border-color: #fff rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0);
                    }
                }
            }

            .select2-selection
            {
                box-shadow : none;
                border: none;

                &:focus{
                    box-shadow : none;
                    border: none;
                }
            }

        }   
    }


    .select2-container{

        &.select2-container--krajee 

        {
            &.select2-container--open 
            {
                .select2-selection--single 
                {

                    .select2-selection__arrow{
                        b{
                            border-color: rgba(0,0,0,0) rgba(0,0,0,0) #fff rgba(0,0,0,0);
                        }                    
                    }
                }
            }
        }   
    }

}

.navbar {
    background-color: #fff;
    border: 0;
    margin-bottom: 0;
    padding-bottom: 12px;
    padding-top: 12px;
    border-bottom: 2px solid @grey-border;

    .navbar-header {
        /*margin-top: 20px;*/
        width: 22%;
        padding-left: 15px;
        /*margin-bottom: 10px;*/

        .navbar-logo {
            background-repeat: no-repeat;
            background-position: center left;
            background-size: contain;
            height: 75px;
            width: 100%;
        }

    }

    .navbar-menu {
        padding-top: 35px;
        text-align: right;
        width: 80%;

        .menu-item {
            display: inline-block;
            margin-left: 30px;
            color: @base-grey;
            font-size : 18px;

            &.active,
            &:hover{
                color: @base-green;
                text-decoration: none;
            }

            &.hostess-menu-item
            {
                padding: 6px 12px;
                color: #fff;
                background: @base-green;
            }
        }
    }

    .navbar-toggle,
    .navbar-toggle:hover, 
        .navbar-toggle:focus {
        background-color: #fff;
        border: none;
    }
}

@media (max-width : 1200px)
{
    .navbar{
        .navbar-menu{

            padding-top:30px;
        }
    }
}

@media (max-width : 1000px)
{
    .navbar{
        .navbar-menu{

            padding-top:30px;

            .menu-item{
                font-size: 14px;
                margin-left: 20px;
            }
        }
    }
}


.select2-container{

    &.select2-container--krajee 

    {
        &.select2-container--open 
        {
            .select2-selection
            {
                box-shadow : none;

                &:focus{
                    box-shadow : none;
                }
            }

            .select2-selection--single 
            {
                box-shadow : none;
                border-color : @base-green;

                &:focus{
                    box-shadow : none;
                    border-color : @base-green;
                }
            }
        }

        .select2-dropdown{
            border-color : @base-green;
            box-shadow : none;
        }    

        .select2-results__option--highlighted[aria-selected]
        {
            background-color: lighten(@base-green, 5%);
            color : #fff;
        }

        .select2-results__option[aria-selected=true]
        {
            background-color: @base-green;
            color : #fff;
        }
    }   
}