.padding-top-20{
    padding-top: 20px;
}

.padding-bottom-20{
    padding-bottom: 20px;
}

.padding-l-0, .padding-rl-0{
    padding-left: 0;
}

.padding-r-0, .padding-rl-0{
    padding-right: 0;
}

.bold{
    font-weight: bold;
}

.padding-0{
    padding: 0;
}

.padding-right-45{
    padding-right: 45px;
}

.inline{
    display:inline;
}

.margin-top-10{
    margin-top:10px;
}
.margin-top-15{
    margin-top:15px;
}
.margin-top-20{
    margin-top:20px;
}
.margin-top-25{
    margin-top:20px;
}
.margin-top-30{
    margin-top:30px;
}

.margin-top-75{
    margin-top: 75px;
}

.margin-top-40{
    margin-top: 40px;
}

.margin-top-100{
    margin-top: 100px;
}

.margin-bottom-20{
    margin-bottom: 20px;   
}

.flex-display{
    display: flex;
    align-items: center;
}