@import "variables.less";

#_clients, #_partners
{
    .bg-client-image{
        width: 250px;
        height: 125px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

    /* Frame */
    .frame {
        /*height: 270px;*/
        /*line-height: 270px;*/
        overflow: hidden;
    }
    .frame ul {
        list-style: none;
        margin: 0;
        padding: 0;
        height: 100%;
        font-size: 50px;
    }
    .frame ul li {
        float: left;
        /*width: 250px;*/
        /*height: 100%;*/
        margin: 0 10px 0 0;
        /*padding: 0;*/
        /*background: #333;*/
        /*color: #ddd;*/
        /*text-align: center;*/
        /*cursor: pointer;*/
        padding: 20px;
        border: 1px solid @base-grey;
    }

    .frame ul li.active {
        background: #fff;
    }
}

/* Scrollbar */
.scrollbar {
    margin: 0 0 1em 0;
    height: 5px;
    background: @base-grey;
    line-height: 0;
}
.scrollbar .handle {
    width: 100px;
    height: 100%;
    background: @base-green;
    cursor: pointer;
}
.scrollbar .handle .mousearea {
    position: absolute;
    top: -9px;
    left: 0;
    width: 100%;
    height: 20px;
}

/* Pages */
.pages {
    list-style: none;
    margin: 20px 0;
    padding: 0;
    text-align: center;
}
.pages li {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 4px;
    text-indent: -999px;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    background: #fff;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
}
.pages li:hover {
    background: #aaa;
}
.pages li.active {
    background: #666;
}

/* Controls */
.controls { margin: 75px 0 0 0 ;}

.controls .btn,.controls .btn:active, .controls .btn:focus{
    background-color: @base-green;
    color: #fff;
    outline: none;
}
