@import "variables.less";

.info-label:hover{
    text-decoration: underline;
    cursor: pointer;
}

.hostess-view-profile{
    display: none;
}
.loading-content{
    display: block;
}

.container{
    overflow-x: hidden;
}

.prev-profile{
    height: 50px;
    min-height: 50px;
    text-align: left;
}
.next-profile{
    height: 50px;
    min-height: 50px;
    text-align: right;
}
.to-results{
    height: 50px;
    min-height: 50px;
    padding-top: 15px;

    &.left-align{
        padding: 0;
    }
}

.prev-profile, .next-profile{


    .next-profile-image, .prev-profile-image{
        min-height: 50px;
        min-width: 35px;
        max-width: 35px !important;
        height: auto !important;
        position: relative;
        transition: left .3s;
        -webkit-transition: left .3s;
        z-index: 2; 
    }

    .next-profile-image{
        right: -1170px;
        transition: right .3s; 
        -webkit-transition: right .3s; 
    }

    .prev-profile-image{
        left: -1170px;
        transition: left .3s;
        -webkit-transition: left .3s;
    }


    &:hover {

        .prev-profile-image{
            left: 0;
        }
        .next-profile-image{
            right: 0;
        }
    }
}



.about-me-content{
    font-size: 15px;
}

.about-me-title{
    font-size: 17px;
    color: @base-green;
}

.notification-request{
    font-size: 15px;
}
.statistics{

    .attr-value{
        text-align: center;
    }

    .statistic-color{
        display : inline-block;
        padding : 5px;
        min-width : 50%;
        color : white;

        &.red{
            background-color: @base-red;
        }
        &.orange{
            background-color : @base-orange;
        }
        &.yellow{
            background-color : @base-yellow;
        }
        &.green{
            background-color: @base-green;
        }
    }

    .statistic-separator{
        display: inline-block;
        /*width: 2%;*/
        margin : 0 5px;
    }

    .statistic-value{
        display: inline-block;
        min-width: 3%;
    }

}

.nav-pills > li{
    margin-left: 0;
    padding : 0;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;

    &:list-child{
        border-right: none;
    }

    a{
        border-radius: 0;
        color: #fff;
        padding: 10px 0;
        text-align: center;
        width: 100%;
        background-color: @dark-grey;

        &:hover, &:focus{
            background-color: @base-green;  
        }
    }


    &.active{
        background-color: @base-green;

        a{
            background-color: @base-green;

            &:hover, &:focus{
                background-color: @base-green;    
            }
        }
    }
}

.nav-pills > li + li{
    margin-left: 0;
}


.images-content{

    text-align : center;

    .carousel{
        max-width: 360px; 
        margin: 0 auto;
    }

    .profile-images{
        /* Frame */
        .frame {
            overflow: hidden;

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                height: 100%;
                font-size: 50px;

                li {
                    float: left;
                    margin: 0 5px 0 0;

                    &.active{
                        background: #fff;
                    }

                    img {
                        cursor: pointer;
                    }
                }
            }
        }
        .controls { margin: 25px 0 0 0 ;}

        .controls .btn,.controls .btn:active, .controls .btn:focus{
            background-color: @base-green;
            color: #fff;
            outline: none;
        }

    }
}

.rating-price-content{

    .price-content{
        margin-bottom: 15px;
    }

    .pricing-details{
        color : @base-green;

        a.green-link{
            color : @base-green;

            &:hover, &:focus{
                color : @base-green;
            }
        }
    }

    .daily-rate-label{
        color : @base-green;
        font-size: 17px;
    }

    .event-price{
        font-size: 24px;
        color: #333;
        font-weight: bold;
    }
}

.book{

    .btn-send-request{
        font-size: 17px;
    }

    .title {
        font-size: 17px;
        color: @base-green;
        margin-bottom: 10px;
        display: block;
    }

    ul.checkbox
    {
        padding : 0;

        li {
            border: 1px transparent solid;
            display: inline-block;
            width: 49%;
        }    
    }

}


.hostess-tab-content{

    padding: 30px 30px 0 30px;
    min-height: 360px;
    font-size : 17px;

    .attr-label{
        color: @base-green;
        line-height: 30px;
    }

    .attr-value{
        line-height: 30px;
    }

    .table{

        thead
        {
            tr
            {
                th{
                    color: @base-green;
                    font-weight: normal;
                }
            }
        }

        tr{
            td
            {
                border-top: none;
            }
        }
    }
}

.select2-container.select2-container--krajee
{
    .select2-dropdown{
        box-shadow: none;
        border-color: @base-green;
        overflow-x: hidden;
        margin-top: -1px;
    }

    .select2-selection--single{
        border-radius: 0;


        &:focus{
            box-shadow: none;
            -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            border-color: @base-green;
        }

        .select2-selection__arrow{
            background: @base-green;
            color: #fff;
            border-left: none; 
            border-top-right-radius: 0px; 
            border-bottom-right-radius: 0px; 

            b{
                border-color: #fff rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0);
            }
        }

    }

    &.select2-container--open {

        .select2-results__option--highlighted[aria-selected]{
            background-color: @base-green;
        }

        .select2-selection--single {
            box-shadow:none;
            -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            border-color: @base-green;

            .select2-selection__arrow 
            {
                background: @base-green;
                color: #fff;
                border-left: none; 
                border-top-right-radius: 0px; 
                border-bottom-right-radius: 0px; 

                b{
                    border-color: rgba(0,0,0,0) rgba(0,0,0,0) #fff rgba(0,0,0,0);
                }

            }

        }
    }
}

.hostess-date-range-picker{

    .datepicker {
        table tr {
            th, td{
                border-radius: 0;
            }

            td.active{
                background: @base-green;

                &.highlighted.active, 
                &.highlighted:active, 
                    &.active, 
                    &:active
                    {
                    background: @base-green;
                }
            }

            td.disabled{
                color: @light-grey;

                &:hover{
                    color: @light-grey;
                }
            }
        }
    }

    .input-group.input-daterange .input-group-addon{
        background: @base-green;
        color: #fff;
        border: none;
        border-left: none;
        border-radius: 0;
    }    
}

@media (max-width: 768px) {

    .hostess-tab-content{
        padding-left: 0;
    }

    .rating-price-content{
        margin-top : 25px;
        margin-bottom : 25px;
    }

    .images-content{

        .carousel{
            min-height: 400px;
        }
    }


    .prev-profile, .next-profile{

        .next-profile-image, .prev-profile-image{
            min-height: 20px;
            min-width: 20px;
            max-width: 20px !important;
            height: auto !important;
            position: relative;
            z-index: 2; 
            vertical-align: top;
        }

        .next-profile-image{
            right: 0px;
        }

        .prev-profile-image{
            left: 0px;
        }

    }
}

@media (max-width: 360px) {

    .hostess-tab-content{
        font-size : 13px;
    }
}

@media (min-width: 1000px) {

    .images-content{

        .carousel{
            min-height: 400px;
        }
    }
}

.review-item{

    font-size : 13px;

    .comment-section{
        min-height: 130px;
    }


    &:nth-child(odd){
        .border-right{
            border-right: 1px solid @grey-border;   
        }
    }

    &:nth-child(even){
        .border-right{
            border-right: none;   
        }
    }


    .review-item-content {

        border-bottom: 1px solid @grey-border;
        padding-bottom: 20px;
    }

}

@media (max-width: 768px) {

    .review-item{

        &:nth-child(odd), &:nth-child(even){
            .border-right{
                border-right: none;   
            }
        }
    }
}

@media (min-width: 769px) and (max-width: 991px){

    .review-item{
        .comment-section{
            min-height: 220px;
        }
    }

}

@media (min-width: 992px) and (max-width: 1200px){
    .review-item{
        .comment-section{
            min-height: 200px;
        }
    }

}

.border-bottom-green
{
    border-bottom : 1px solid @base-green;
}

.multi-cont-event-jobs{

    position : relative;

    .caret {
        border-style: solid;
        border-width: 5px 4px 0 4px;
        border-color: #fff transparent transparent transparent;
        border-style: solid;
        border-width: 5px 4px 0 4px;
        height: 0;
        right: -14px;
        margin-top: 7px;
        position: absolute;
        width: 0;
        float: right;
    }

    button, .btn-default {
        width: 100% !important;
        text-align : left;
        color : #555555;
        position: relative;
        box-shadow: none;
        border-right-width: 20px;
        border-right-color: @base-green !important;

        &:hover, &:focus, &:active {
            background-color: white;
            box-shadow: none;
        }
    }

    &.open{
        button, .btn-default {
            background-color: white;
            box-shadow: none;

            &:hover, &:focus, &:active {
                background-color: white;
                border-color: @base-green;
                box-shadow: none;
            }
        }
    }

    ul{
        border-radius: 0px;
        max-width : 360px;

        li{
            padding: 5px;

            &.active{
                a{
                    background-color: @base-green;   

                    &:hover, &:focus, &:active{
                        background-color: @base-green;       
                    }
                }
            }
        }
    }

    .input-group-addon, .form-control{
        border-radius: 0px;
    }
}