@import "variables.less";

.red-glyphicon{
    cursor: pointer;
    color: @base-red;
}

.datepicker table tr td
{
    &.day{
        color : #333;

        &.new, &.old{
            color : #333;
        }

        &.disabled{
            color : #777;
        }
    }

    &.active,
    &.active.highlighted,
    &.active:active,
        &.active.active,
        &.active.highlighted:active,
        &.active.highlighted.active        {
        background-color: @base-green !important; 
        // sadly !important must be here since bootstrap is loaded first, and I'm to tired to search another solution
        border-color: @base-green  !important; 
    }

}

.about-me{
    .hint-block{
        margin-top: 15px;
    }
}

.message-from-admin{
    h2{
        margin-top: 0;
    }
}

.statistics{

    .attr-value{
        text-align: center;
    }

    .statistic-color{
        display : inline-block;
        padding : 5px;
        min-width : 100%;
        color : white;
        text-align: center;

        &.red{
            background-color: @base-red;
        }
        &.orange{
            background-color : @base-orange;
        }
        &.yellow{
            background-color : @base-yellow;
        }
        &.green{
            background-color: @base-green;
        }
    }

    .statistic-separator{
        display: inline-block;
        /*width: 2%;*/
        margin : 0 5px;
    }

    .statistic-value{
        display: inline-block;
        min-width: 15%;
    }

}

.request-alert {
    text-align: center;
    background-image: url("../images/eclipse.png");
    background-repeat: no-repeat;
    color: white;
    font-size: 22px;
    font-weight: 900;
    height: 38px;
    width: 38px;
    line-height: 38px;
    position: absolute;
    right: 0;
    top: -15px;
    z-index: 999;

}


.nav-pills {

    li{
        margin-left: 0;
        padding : 0;
        border-right: 1px solid #fff;
        border-bottom: 1px solid #fff;

        &:list-child{
            border-right: none;
        }

        a{
            border-radius: 0;
            color: #fff;
            padding: 10px 0;
            text-align: center;
            width: 100%;
            background-color: @dark-grey;

            &:hover, &:focus{
                background-color: @base-green;  
            }
        }


        &.active{
            background-color: @base-green;

            a{
                background-color: @base-green;

                &:hover, &:focus{
                    background-color: @base-green;    
                }
            }
        }
    }

    &.profile-main-menu{
        li{
            a{
                font-size : 17px;
                padding: 20px 0;        
            }
        }
    }
}

.nav-pills > li + li{
    margin-left: 0;
}

.hostess-tab-content{
    margin-top: 40px;
    /*font-size : 17px;*/

    .green-form-title{
        color: @base-green;
        line-height: 30px;
        font-size: 17px;
    }

    .table.table-grey{
        thead
        {
            tr
            {
                th{
                    color: #fff;
                    text-align: center;
                    background-color: @dark-grey;
                    border-bottom: none;
                    font-weight: normal;
                    border-right: 1px solid #fff;

                    a, a:focus, a:hover{
                        color: #fff;
                        text-decoration: none;
                    }

                    &.text-left{
                        text-align: left;
                    }
                }
            }
        }

        tr{
            td
            {
                border-top: none;
                text-align: center;

                a, a:focus, a:hover{
                    color: #fff;
                    text-decoration: none;

                    &.green-link{
                        color: @base-green;
                        text-decoration: none;

                        &:focus, &:hover{
                            color: @base-green;
                            text-decoration: none;
                        }
                    }

                    &.btn-default{
                        color: #333;
                    }
                }

                &.text-left{
                    text-align: left;
                }


            }
        }

        .request-status{

            width: 100%;
            display: block;
            padding: 6px 12px;
            border-radius: 0;
            font-size: inherit;
            font-weight: normal;
            color : white;

            &.danger{
                background-color: #d9534f;
            }

            &.warning{
                background-color: #f0ad4e;
            }
        }
    }


    .table.table-green{
        thead
        {
            tr
            {
                th{
                    color: @base-green;
                    text-align: center;
                    background-color: #fff;
                    border-bottom: none;
                    font-weight: normal;
                    /*border-right: 1px solid #fff;*/

                    a, a:focus, a:hover{
                        color: @base-green;
                        text-decoration: none;
                    }

                    &.text-left{
                        text-align: left;
                    }
                }
            }
        }

        tr{
            td
            {
                border-top: none;
                text-align: center;

                a, a:focus, a:hover{
                    color: #fff;
                    text-decoration: none;
                }

                &.text-left{
                    text-align: left;
                }
            }
        }
    }
}

.hostess-content{

    &.padding-top-30{
        padding: 30px 0 0 0px;
    }

    .kv-editable-link{
        color: @base-green;
        border-bottom: none; 

        &:focus, &:hover{
            color: darken(@base-green, 20%);
            text-decoration: underline;
        }
    }

    .attr-label{
        color: @base-green;
        line-height: 30px;
    }

    .attr-value{
        line-height: 30px;
    }

    .green-form-title{
        color: @base-green;
        line-height: 30px;
        font-size: 17px;
    }

    .panel {
        border: none;
        box-shadow: none;

        .panel-heading {
            padding: 0px;
            border: none;
        }

        .panel-footer {
            background-color: white;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            border-top: none;
            padding: 0px;
        }

        .table-responsive{
            border-top: none;


            .table{

                thead, tbody{
                    tr{
                        th{
                            color : @base-green;
                            font-weight: normal;
                            border-top:none;
                            text-align: left;
                        }

                        td{
                            border-top:none;
                            text-align: left;
                        }
                    }
                }
            }
        }
    }

    .select2-selection.select2-selection--multiple{
        border-radius: 0;
    }

    .select2-container--krajee.select2-container--open 
    .select2-selection, .select2-container--krajee .select2-selection:focus
        {
        box-shadow: none;
        border-color : @base-green;           
    }

    .bootstrap-switch{
        border-radius: 0;

        .bootstrap-switch-handle-on
        {
            border-radius: 0;

            &.bootstrap-switch-primary{
                background-color: @base-green;
            }
        }

        .bootstrap-switch-handle-off
        {
            border-radius: 0;

            &.bootstrap-switch-primary{
                background-color: @base-green;
            }
        }

        &.bootstrap-switch-focused {
            border-color: @base-green;
            outline: 0;
            box-shadow: none;
        }

    }
}

select.form-control.small.inline.xs-select {
    width: 33.33%;
}

.select2-container--krajee {

    .select2-selection.select2-selection--single{
        border-radius: 0;
    }
}

.images-content{

    text-align : left;


    .profile-images{
        /* Frame */
        .frame {
            overflow: hidden;

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                /*max-height : 335px;*/
                /*overflow-y: hidden;*/
                height: 100%;
                /*                font-size: 50px;*/

                li {
                    float: left;
                    /*margin: 0 5px 0 0;*/
                    min-width: 300px;
                    padding: 10px;
                    border: 1px solid #dfdfdf;

                    &.active{
                        background: #fff;
                    }

                    img {
                        margin: 0 auto;
                    }
                }
            }
        }
        .controls { margin: 125px 0 0 0 ;}

        .controls .btn,.controls .btn:active, .controls .btn:focus{
            background-color: @base-green;
            color: #fff;
            outline: none;
        }

    }
}


@media (max-width: 360px) {

    .hostess-content{
        padding-left: 0;
    }
}

@media (max-width: 360px) {

    .hostess-tab-content{
        font-size: 1em;
    }
}

@media (max-width: 768px) {

    .images-content {

        .carousel{
            margin: 0 auto;
        }

        span.hidden-xs{
            display: inline-block !important;
        }
    }

    .nav-pills {
        &.profile-main-menu{
            li{
                a{
                    font-size : 14px;
                    padding: 15px 0;        
                }
            }
        }  
    }
}

@media (max-width: 330px) {

    .nav-pills {
        &.profile-main-menu{
            li{
                a{
                    font-size : 12px;
                    padding: 15px 0;        
                }
            }
        } 
        &.profile-submenu{
            li{
                a{
                    font-size : 0.8em;        
                }
            }
        } 
    }
}


.review-item{


    .comment-section{
        min-height: 130px;
    }


    &:nth-child(odd){
        .border-right{
            border-right: 1px solid @grey-border;   
        }
    }

    &:nth-child(even){
        .border-right{
            border-right: none;   
        }
    }


    .review-item-content {

        border-bottom: 1px solid @grey-border;
        padding-bottom: 20px;
    }

}

@media (max-width: 768px) {

    .review-item{

        &:nth-child(odd), &:nth-child(even){
            .border-right{
                border-right: none;   
            }
        }
    }
}

@media (min-width: 769px) and (max-width: 991px){

    .review-item{
        .comment-section{
            min-height: 220px;
        }
    }

}

@media (min-width: 992px) and (max-width: 1200px){
    .review-item{
        .comment-section{
            min-height: 200px;
        }
    }

}

.approval-disabled-btn{
    opacity: .65;
}


.progress{
    margin-bottom: 5px;
}

.education {

    .hint-block{
        margin-top: 15px;
    }

}