@import "variables.less";

.hostess-filter{

    .multi-cont{
        width: 100%;

        button{
            width: 100% !important;
            text-align: left;

            .caret{
                position: absolute;
                top:15px;
                right : 5px;
            }
        }
    }

    .toggle-search-btn
    {
        cursor: pointer;
    }

    .input-group-addon{
        border-radius: 0;
    }

    .multiselect-container{
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .dropdown-menu > li > a
    {
        padding: 3px 25px;
    }

    .has-success .cbx-active, 
    .has-success .cbx-active:hover, 
        .has-success .cbx-active:focus,
        .has-error .cbx-active, 
        .has-error .cbx-active:hover, 
        .has-error .cbx-active:focus
        {
        box-shadow: none;   
    }

    .cbx{
        border-radius: 0;
        width: 16px;
        height : 16px;


        &:hover, &:focus{
            box-shadow: none;   
            border-color: @base-green;
        }
    }

    label + .cbx-container, .cbx-container + label, .cbx-container + .cbx-container{
        margin-left: 5px;
        vertical-align: middle;
        line-height: 16px;
        margin-bottom: 0;
    }


    .advanced-search{
        padding-top: 20px;
        padding-bottom: 20px;
        border: 2px solid @base-green;
        border-top: 0;
        -webkit-box-shadow: 0 5px 10px #0003;
        box-shadow: 0 5px 10px #0003;
        /*display: none;*/
    }

    .bg-green{
        background: @base-green; 
        color: #fff;
        line-height: 30px;
    }

    .advanced-search-label{
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .field-advanced-search-sort
    {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0;
    }
}

.hostess-item{

    .relative{
        position: relative;
    }

    .img-hostess{

        .profile-image{
            width: 220px;
            height: 170px;
            background-size: cover;
            background-position: center;
            margin: 0 auto;
            max-width: 100%;
        }

        .premium-hostess {
            display: none;
            right: 5px;
            top: -15px;
            position: absolute;
        }

        &.premium{
            .premium-hostess{
                display: block;
            }
        }

        .img-options {

            transition: visibility 0s linear 0.2s, opacity 0.2s linear 0s;

            .zoom-in, .mobile{
                opacity: 0;
                position: absolute;
                bottom: 0;             
                width: 38px;
                height: 38px;
                display: block;
                padding: 10px 12px;
                background: @base-green;
                visibility: hidden;
                i{
                    color: white;
                }
            }

            .zoom-in{
                right: 35px;
            }

            &.has-mobile{

                .mobile{
                    right: 35px;
                    opacity: 1;
                    visibility: visible;
                }

                .zoom-in{
                    right : 73px;
                    border-right : 1px solid #fff;
                }

            }
        }

        &:hover{
            .img-options {
                cursor: pointer;

                transition-delay: 0s;

                .zoom-in, .mobile{
                    opacity: 1;
                    visibility: visible;   
                }
            }
        }
    }


    .username{
        a{
            font-weight: bold;
            color: @base-green;

            &:hover, &:focus{
                color: @base-green;
                text-decoration: underline;
            }
        }
    }
}
