@import "variables.less";

#contactform-captcha-image{
    cursor: pointer;
}

.steps{
    color: white;
    text-align : center;

    .col{
        width: 20%;
        float: left;
        text-align: center;
    }

    .step-icon{

        height: 86px;
        background-repeat: no-repeat;
        background-position: top center;
        margin-bottom : 15px;

        &.registration{
            background-image: url("../images/steps/registration.png");
        }

        &.selection{
            background-image: url("../images/steps/selection.png");
        }

        &.request{
            background-image: url("../images/steps/request.png");
        }

        &.booking{
            background-image: url("../images/steps/booking.png");
        }

        &.payment{
            background-image: url("../images/steps/payment.png");
        }

        &.signup{
            background-image: url("../images/steps/signup.png");
        }

    }
}

.testimonials {
    background-image: url(../images/thumbs_up.jpg);
    min-height: 350px;
    background-size: cover;
    /*background-position: center -105px;*/
    /*margin-bottom: 50px;*/

    .slide .carousel{
        min-height: 350px;
    }

    .carousel-indicators li {
        height: 20px;
        width: 20px;

        &.active{
            background-color: @base-green;
        }
    }

    .carousel-caption {
        font-size: 32px;
        left: 0;
        padding-top: 70px;
        position: relative;
        right: 0;
        text-align: center;
    }

    .item {
        background-image: url("../images/quote.png");
        background-position: center top;
        background-repeat: no-repeat;
        margin-top: 15px;
    }
}

.blogs{

    background-image: url(../images/notes.jpg);
    min-height: 575px;
    background-size: cover;

    .overlay{

        min-height: 575px;
        padding: 0 0 20px 0;
        background: rgba(0,0,0,0.8);
    }
}

.connect{

    background-image: url(../images/notes.jpg);
    min-height: 250px;
    background-size: cover;

    .overlay{
        padding: 0 0 20px 0;
        min-height: 250px;
        background: rgba(0,0,0,0.8);
    }

    .newsletter{

        .signup-title, .signup-message{
            color: #fff;
            font-size: 17px;
        }

        .error{
            color: @base-red;
        }
    }
}

.about{
    .about-icons{
        text-align : center;
        margin-top : 30px;

        .about-item{
            cursor : pointer;

            .about-icon{

                height: 127px;
                background-repeat: no-repeat;
                background-position: top center;
                margin-bottom : 15px;


                &.belowavgprices{
                    background-image: url("../images/about_icons/belowavgprices-g.png");
                }

                &.fairvages{
                    background-image: url("../images/about_icons/fairvages-g.png");
                }

                &.userfriendly{
                    background-image: url("../images/about_icons/userfriendly-g.png");
                }

                &.motivated{
                    background-image: url("../images/about_icons/motivated-g.png");
                }
            }


            &.active, &:hover{

                color : @base-green;


                .about-icon.belowavgprices{
                    background-image: url("../images/about_icons/belowavgprices-green.png");
                }

                .about-icon.fairvages{
                    background-image: url("../images/about_icons/fairvages-green.png");
                }

                .about-icon.userfriendly{
                    background-image: url("../images/about_icons/userfriendly-green.png");
                }

                .about-icon.motivated{
                    background-image: url("../images/about_icons/motivated-green.png");
                }
            }

        }
    }
}


@media (max-width: 700px)
{
    .steps{
        color: white;
        text-align : center;
        font-size : 10px;

        .step-icon{

            height: 38px;
            background-repeat: no-repeat;
            background-position: top center;
            margin-bottom : 15px;

            &.registration{
                background-image: url("../images/steps/registration_sm.png");
            }

            &.selection{
                background-image: url("../images/steps/selection_sm.png");
            }

            &.request{
                background-image: url("../images/steps/request_sm.png");
            }

            &.booking{
                background-image: url("../images/steps/booking_sm.png");
            }

            &.payment{
                background-image: url("../images/steps/payment_sm.png");
            }

            &.signup{
                background-image: url("../images/steps/signup_sm.png");
            }

        }
    }

    .about{

        font-size : 10px;

        .about-icons{
            text-align : center;
            margin-top : 30px;

            .about-item{
                cursor : pointer;

                .about-icon{

                    height: 47px;
                    background-repeat: no-repeat;
                    background-position: top center;
                    margin-bottom : 15px;


                    &.belowavgprices{
                        background-image: url("../images/about_icons/belowavgprices-g_sm.png");
                    }

                    &.fairvages{
                        background-image: url("../images/about_icons/fairvages-g_sm.png");
                    }

                    &.userfriendly{
                        background-image: url("../images/about_icons/userfriendly-g_sm.png");
                    }

                    &.motivated{
                        background-image: url("../images/about_icons/motivated-g_sm.png");
                    }
                }


                &.active, &:hover{

                    color : @base-green;


                    .about-icon.belowavgprices{
                        background-image: url("../images/about_icons/belowavgprices-green_sm.png");
                    }

                    .about-icon.fairvages{
                        background-image: url("../images/about_icons/fairvages-green_sm.png");
                    }

                    .about-icon.userfriendly{
                        background-image: url("../images/about_icons/userfriendly-green_sm.png");
                    }

                    .about-icon.motivated{
                        background-image: url("../images/about_icons/motivated-green_sm.png");
                    }
                }

            }
        }
    }

}


.select2-container--krajee .select2-selection--single{
    border-radius: 0 !important;
}

.select2-container .select2-selection--single .select2-selection__clear{
    position: absolute !important;
    top :0  !important;
    margin-right: 25px  !important;
    font-size: 25px;
}