@import "variables.less";

.summary{
    text-align: right;
    padding: 7px 0;
}

.summary span{
    color: @base-green;
    font-weight: bold;
}

.pagination{
    margin: 0;

    li{
        a, span{
            background: #fff;
            color: @font-color;
            border: none;   
            border-radius: 0;
        }

        &.active{
            a, span{
                color:@base-green;
                background: #fff;
                background-color: #fff;

                &:hover, &:focus{
                    background: #fff;
                    background-color: #fff;
                    color:@base-green;
                }
            }
        }

        &.disabled{
            a, span{
                color:@base-grey;
                background: #fff;

                &:hover, &:focus{
                    color:@base-grey;
                }
            }
        }

        &:first-child, &:last-child{
            a, span{
                border-radius: 0;
            }

        }
    }
}

