@import "variables.less";


.elementFadeOut{
    display: none;
} 

.pricing-filter-item{

    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 13px;
    text-align: center;
    border-radius: 0px;
    padding: 11px 18px 10px 18px;
    background: black;
    border : none;
    outline : none;
    margin-bottom : 2px;
    width : 100%;
   
    &.selected{
        background: @base-green;
    }

    &:hover, &:focus{
        outline: none;
        background: @base-green;
    }
}

.pricing-table{

    text-align : center;

    thead{
        background: @base-green;
        color : #fff;
    }
}

.circle {
    /*    position: relative;
        width: 75%;
        height: 0;
        padding: 35% 0;
        margin: 0 auto;
        border-radius: 50%;*/
    background: @base-green;


    .content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;

        &:before{
            content: '';
            vertical-align: middle;
            display: inline-block;
            width: 0;
            height: 100%;
        }

        span {
            color: #fff;
            vertical-align: middle;
            display: inline-block;
            -ms-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            font-size: 12dpi;
        }
    }

}
