@import "variables.less";

.password{
    position: relative;

    input[type="password"]{
        padding-right: 30px;
    }

    .glyphicon{
        right: 15px;
        position: absolute;
        top: 12px;
        cursor:pointer;


        &.glyphicon-eye-close{
            color : @base-grey;
        }

        &.glyphicon-eye-open{
            color : @base-green;
        }
    }
}