@import "variables.less";


@media (min-width: 992px){
    .btn-submit-contact {
        height: 74px;
        font-size: 20px;
        transform:scale(0.80) !important;
        -webkit-transform:scale(0.80) !important;
        transform-origin:0 0 !important;
        -webkit-transform-origin:100% 0 !important;
    }


    .g-recaptcha {
        transform:scale(0.80) !important;
        -webkit-transform:scale(0.80) !important;
        transform-origin:0 0 !important;
        -webkit-transform-origin:0 0 !important;
    }
}

@media (min-width: 769px) and (max-width: 991px){
    .btn-submit-contact {
        height: 74px;
        font-size: 20px;
    }
}


@media (max-width: 768px){

    .g-recaptcha {
        transform:scale(0.80) !important;
        -webkit-transform:scale(0.80) !important;

        >div{
            text-align: center;
            display: block;
            margin: 0 auto;
        }
    }
}

.bg-size(@size : cover){
    -webkit-background-size: @size;
    -moz-background-size: @size;
    -o-background-size: @size;
    background-size: @size;
}

body{
    color : @font-color;
}

.green-text{
    color: @base-green;
}

.selectpicker {
    background: none repeat scroll 0 0 #0000;
    border: 0 none;
    border-radius: 0;
    padding-top: 0px;
}

.banner {
    background-image: url("../images/bg/6.jpg");
    background-color: black;
    border-top: 1px solid #ccc;
    .bg-size();

    &.home{
        background-image: url("../images/bg/6.jpg");
        .bg-size();

        &.hostess{
            background-image: url("../images/bg/6.jpg");
            .bg-size();
        }

        &.exhibitor{
            background-image: url("../images/bg/6.jpg");
            .bg-size();
        }
    }

    &.thank-you{
        background: url("../images/bg/9.jpg") no-repeat center center fixed; 
        .bg-size();
    }

    &.registration{
        background: url("../images/bg/2.jpg") no-repeat center center fixed;
        .bg-size();
    }

    &.registration-exhibitor{
        background: url("../images/bg/9.jpg") no-repeat center center fixed; 
        .bg-size();
    }

    &.registration-hostess{
        background: url("../images/bg/9.jpg") no-repeat center center fixed;
        .bg-size();
    }

    &.newsletter-unsubscribe{
        background: url("../images/bg/4.jpg") no-repeat center center fixed;
        .bg-size();
    }
}

.green-banner{
    background: @base-green;
    padding: 15px 0;
}

.homepageHeaderCont{

    margin-top: 7.5em;
    color: #fff;

    .homepageHeader{
        font-family: "MavenProBlack";
        font-size: 1.75em;
    }

    .homepageSubHeader{
        font-size: 1em;
    }
}

.form-group-m-0{
    .form-group{
        margin-bottom: 0;   
    }
}

.form-overlay{
    padding: 25px 0;
    background: rgba(0,0,0,0.8);
}

.content-section{
    margin-top: 75px;
}

.exhibitor-contact{
    margin-bottom: 75px;
}

.green-line {
    background-color: @base-green;    
    height: 5px;
    width: 52px;
}

.bh-title {
    color: #000;
    font-family: "MavenProBlack", sans-serif;
    margin-bottom: 20px;
    text-align: left;
    font-size: 2.75em;
    line-height: 1.3em;
    font-weight: bold;

    &.white{
        color: #fff;
    }
}

.bh-subtitle {
    font-family: "MavenPro", sans-serif;
    color: @subtitle;
    text-align: left;
    line-height: 17px;
    font-size: 17px;
    margin-bottom: 30px;
}

label{
    font-weight: normal;
}

a:hover, a:focus {
    color: darken(@base-green, 20%);
}

textarea{
    resize: none;
}

.register-form{
    background: rgba(0,0,0,0.8);
    padding-top: 25px;
    padding-bottom: 25px;   
    color: #fff;
    margin-top: 7.5em;


    .title{
        font-weight: 700;
        font-size: 2em;
    }

    .subtitle{
        font-weight: 400;
        font-size: 1.3em;
        line-height: 1em;
    }
}

.img-explanation{
    color: #757575;
    font-size: 12px;
}

.blog{

    .blog-title{
        margin-top: 0;
        font-size: 1.5em;
    }

    .blog-item{
        margin-bottom: 20px;
    }
}


.blog-post-items {

    a{
        text-decoration: none;
        color: black;
        cursor: pointer;
        display: block;
        background-color: white;
        float: left;
        min-height: 450px;
        margin-bottom: 10px;

        &:visited, &:hover{
            text-decoration: none;
            color: black;
        }

        div.blog-content{
            padding: 10px;
            color: #757575;

            .inline{
                display: inline-block;
                width : 49%;
            }

            .content{
                min-height: 160px;
                text-align: justify;
            }
        }
    }

    .title {
        display: inline-block;
        font-weight: bold;
        width: 100%;
        min-height: 40px;
    }

    .image {
        height: 170px;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.view_nr{

    .hostess-box {
        border: 1px solid #0caa9d;
        text-align: center;
        padding: 80px 20px;
        height: 258px;
    }

    .hostess-box .buttons {
        margin: 0 auto;
    }

    .hostess-profile-image{
        height: 258px;
        border: 1px solid lightgray;
        background-size: cover;
        background-position: center center;
    }
}

.go-back-link{
    color: @base-grey;

    &:hover, &:focus{
        color: @base-grey;
        text-decoration: none;
    }
}

.alert{
    border-radius: 0px;
}

.lbl{
    padding: 6px 12px;
}

.kv-plugin-loading{
    width: 16px;
    height: 16px;
    max-width: 16px;
    max-height: 16px;
}

.loading-content{
    display: none;
}

.loader {
    border: 5px solid @base-grey; /* Light grey */
    border-top: 5px solid @base-green; /* Green */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

body{
    .rating-disabled .rating{
        cursor: default;
    }
}


.developed-by{
    color: white;

    &:hover, &:focus{
        color: white;
    }
}

.progress{
    border-radius: 0;
    
    .progress-bar
    {
        background-color: @base-green;
    }
}

