@base-green : #0CAA9D;
@base-grey : #908f94;
@dark-grey : #909195;
@font-color : #717171;
@subtitle : #9fa0a2; 
@base-red : #db2c27;
@light-grey : #ccc;
@grey-border : #ccc;
@base-yellow  : #ffda33;
@base-orange  : #ff9933;


@header-row-background: #2f516d;
@even-row-background: #e2e4e7;
@odd-row-background: #f0f1f3;
@footer-background: #f1f1f1;
@not-set-color: #c55;
@hint-block-color: #999;
@form-control-border-color: #5d5d5d;
@error-summary-color: #a94442;
@error-summary-background: #fdf7f7;

// ==========================================================================
// Plyr variables
// https://github.com/selz/plyr
// ==========================================================================

// Settings
@plyr-border-box:                       true;
@plyr-touch-action:                     true;
@plyr-sr-only-important:                true;

// Colors
@plyr-color-main:                       #0CAA9D;

// Font
@plyr-font-family:                      Arial, sans-serif;
@plyr-font-size-small:                  14px;
@plyr-font-size-base:                   16px;

// Captions
@plyr-captions-bg:                      fade(#000, 70%);
@plyr-captions-color:                   #fff;
@plyr-font-size-captions-base:          @plyr-font-size-base;
@plyr-font-size-captions-medium:        ceil(@plyr-font-size-base * 1.5);
@plyr-font-size-captions-large:         (@plyr-font-size-base * 2);

// Controls
@plyr-control-icon-size:                18px;
@plyr-control-spacing:                  10px;
@plyr-control-padding:                  (@plyr-control-spacing * .7);
@plyr-video-controls-bg:                #000;
@plyr-video-control-color:              #fff;
@plyr-video-control-color-hover:        #fff;
@plyr-video-control-bg-hover:           @plyr-color-main;
@plyr-audio-controls-bg:                #fff;
@plyr-audio-controls-border:            1px solid #dbe3e8;
@plyr-audio-control-color:              #565D64;
@plyr-audio-control-color-hover:        #fff;
@plyr-audio-control-bg-hover:           @plyr-color-main;

// Tooltips
@plyr-tooltip-bg:                       fade(#000, 70%);
@plyr-tooltip-color:                    #fff;
@plyr-tooltip-padding:                  (@plyr-control-spacing / 2);
@plyr-tooltip-arrow-size:               4px;
@plyr-tooltip-radius:                   3px;

// Progress
@plyr-progress-loading-size:            25px;
@plyr-progress-loading-bg:              fade(#000, 15%);
@plyr-video-progress-bg:                fade(#fff, 25%);
@plyr-video-progress-buffered-bg:       @plyr-video-progress-bg;
@plyr-audio-progress-bg:                fade(#C6D6DB, 66%);
@plyr-audio-progress-buffered-bg:       @plyr-audio-progress-bg;

// Range sliders
@plyr-range-track-height:               8px;
@plyr-range-thumb-height:               floor(@plyr-range-track-height * 2);
@plyr-range-thumb-width:                floor(@plyr-range-track-height * 2);
@plyr-range-thumb-bg:                   #fff;
@plyr-range-thumb-border:               2px solid transparent;
@plyr-range-thumb-shadow:               0 1px 1px fade(@plyr-video-controls-bg, 15%), 0 0 0 1px fade(#000, 15%);
@plyr-range-thumb-active-border-color:  #fff;
@plyr-range-thumb-active-bg:            @plyr-video-control-bg-hover;
@plyr-range-thumb-active-scale:         1.25;
@plyr-video-range-track-bg:             @plyr-video-progress-buffered-bg;
@plyr-audio-range-track-bg:             @plyr-audio-progress-buffered-bg;
@plyr-range-selected-bg:                @plyr-color-main;

// Breakpoints
@plyr-bp-screen-sm:                     480px;
@plyr-bp-screen-md:                     768px;
@plyr-bp-screen-lg:                     1024px;

