@import "variables.less";

.webui-popover{

    background-color: @base-green;
    color : #fff;
    border-radius : 0;

    .webui-arrow{

    }

    .webui-popover-inner{
        .webui-popover-title{
            background-color: @base-green;
        }

        .close{
            opacity: 1;
            color: #fff;
        }
    }
}

.webui-popover.bottom>.webui-arrow:after, 
.webui-popover.bottom-right>.webui-arrow:after, 
.webui-popover.bottom-left>.webui-arrow:after{
    border-bottom-color: @base-green;
}
